// Helpers
.no-left-15 {
  padding-left: 0;
}

.no-right-15 {
  padding-right: 0;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.no-bottom-border {
  &, &.white-tier {
    border-bottom: 0;
  }
}

.blue-tier .no-bottom-margin {
  margin-bottom: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.white-tier.no-top-border {
  border-top: none;
}

.margin-bottom-30 {
  margin-bottom: 30px; 
}

@media screen and (max-width: $screen-sm) {

  .order-1.col-flex {
    order: 1;
  }
  
  .business-item-img-wrap {
    &.right {
      float: right;
    }
    &.left {
      float: left;
    }
  }

}
// Helpers