@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

html {
  font-size: 16px;
}

@font-face {
  font-family: "Hurme - HurmeGeometricSans2 SemiBold";
  src: url("/fonts/Hurme - HurmeGeometricSans2 SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "Hurme - HurmeGeometricSans2 Regular";
  src: url("/fonts/Hurme - HurmeGeometricSans2 Regular.otf") format("opentype");
}

@font-face {
  font-family: "Hurme - HurmeGeometricSans2 Light";
  src: url("/fonts/Hurme - HurmeGeometricSans2 Light.otf") format("opentype");
}

%regular {
  font-family: "Hurme - HurmeGeometricSans2 Regular", sans-serif;
}

%semi-bold {
  font-family: "Hurme - HurmeGeometricSans2 SemiBold", sans-serif;
}

%light {
  font-family: "Hurme - HurmeGeometricSans2 Light", sans-serif;
}

body, p {
  font-family: "Hurme - HurmeGeometricSans2 Regular", sans-serif;
}

.jumbotron p.lead {
  @include fontSize(53px);
  @extend %regular;
}

.price-cost {
  font-size: 42px;
  color: $black;
}

.business-item p {
  font-size: 16px;
}

.price-cost.custom {
  font-size: 32px;
}

.blue-tier .blue-tier-regular {
  font-size: 16px;
}

.pricing-main-title {
  font-size: 60px;
}

.pricing-title {
  font-family: "Hurme - HurmeGeometricSans2 SemiBold", sans-serif;
  font-size: 16px;
}

.pricing-value-number {
  font-size: 100px;
  line-height: 100px;
}

.pricing-top-txt,
.pricing-desc {
  font-family: "Hurme - HurmeGeometricSans2 Light", sans-serif;
  font-size: 16px;
}

.pricing-value-sign {
  font-size: 40px;
  line-height: 40px;
  font-family: "Hurme - HurmeGeometricSans2 Light", sans-serif;
}

.pricing-value-txt {
  font-size: 18px;
}

.contact-team-mail,
.team-name {
  font-size: 18px;
  font-family: "Hurme - HurmeGeometricSans2 SemiBold", sans-serif;
}

.white-tier-title {
  font-size: 60px;
}

.white-tier-info {
  font-size: 18px;
}

.feedback-info {
  font-family: "Hurme - HurmeGeometricSans2 Regular", sans-serif;
  font-size: 18px;
}

.dark-tier {
    @include fontSize(36px);
    font-family: "Hurme - HurmeGeometricSans2 Light", sans-serif;
}

.blue-tier {
  p {
    @include fontSize(36px);
    margin-bottom: 25px;
  }
}

.jumbotron small {
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "Hurme - HurmeGeometricSans2 Regular", sans-serif;
}

.jumbotron .jumbotron-title {
  // font-size: 80px;
  @include fontSize(76px);
  font-family: "Hurme - HurmeGeometricSans2 Regular", sans-serif;
}

.jumbotron.jumbotron-home p.lead {
  font-family: "Hurme - HurmeGeometricSans2 Regular", sans-serif;
  @include fontSize(18px)
}

.press-features {
  font-family: "Hurme - HurmeGeometricSans2 Light", sans-serif;
  font-size: 16px;
}

.feedback-intro {
  p {
    font-family: "Hurme - HurmeGeometricSans2 Regular", sans-serif;
    font-size: 18px;
  }
}

.contact-form {
  label {
    font-family: "Hurme - HurmeGeometricSans2 SemiBold", sans-serif;
    font-size: 16px;
  }
  button[type="submit"] {
    text-transform: uppercase;
  }
}

.confirm-bottom-info {
  font-size: 18px;
}

.marketing-option-info-home-wrap h4 {
  @include fontSize(24px);
}

.features-intro {
  @include fontSize(18px);
}

@media screen and (max-width: $screen-sm) {
  .copy-txt {
    color: $white;
    @include fontSize(20px);
  }
  .footer .copy span {
    @include fontSize(18px); 
  }
}

.coming-soon {
  @include fontSize(48px);
}

.nav > li > a {
  @include fontSize(12px);
}

.media-asset-title {
  font-family: "Hurme - HurmeGeometricSans2 SemiBold", sans-serif;
  @include fontSize(18px);
}

.featured-press-text {
  text-align: justify;
  h5 {
    @include fontSize(18px);
    color: $black;
  }
  p {
    font-family: "Hurme - HurmeGeometricSans2 Light", sans-serif;
    @include fontSize(16px);
  }
}

.features h3 {
  font-family: "Hurme - HurmeGeometricSans2 Regular", sans-serif;
  color: $footer_bg;
}

@media screen and (max-width: 500px) {
  // @include fontSize(48px);
  html {
    font-size: 12px;
  }
}

.blue-tier-title {
  @include fontSize(36px);
}

.blue-tier p.blue-tier-text {
  @include fontSize(18px);
}

.business-item-title {
  @include fontSize(42px);
}

.get-in-touch p {
  @include fontSize(24px);
}

.innovation-quote {
  @include fontSize(42px);
  font-family: "Hurme - HurmeGeometricSans2 SemiBold", sans-serif;
}

.innovation-quote-author {
  @include fontSize(24px);
}

.dark-tier-bottom-text {
  @include fontSize(15px);
}

.blue-tier-number {
  @include fontSize(80px);
  + p {
    @include fontSize(18px);
  }
}

.features-home-title {
  @include fontSize(60px);
}

@media screen and (max-width: $screen-sm) {
  .blue-tier-text,
  .feature-desc,
  .nav > li > a,
  .blue-tier p.blue-tier-text {
    @include fontSize(24px);
  }
  .blue-tier-title {
    @include fontSize(42px);
  }
  .footer {
    padding-top: 15px;
  }
}

.pricing-section strong {
  font-family: "Hurme - HurmeGeometricSans2 SemiBold", sans-serif;
}

.pricing-value-txt {
  font-family: "Hurme - HurmeGeometricSans2 SemiBold", sans-serif;
  @include fontSize(24px);
}

.pricing-info,
.pricing-features,
.pricing-desc {
  @include fontSize(15px);
}

.marketing-option-info.marketing-option-info-innovation p {
  @include fontSize(18px);
}

.community-item-title {
  @include fontSize(18px);
}

.cbtn.community-btn {
  @include fontSize(12px);
  text-transform: capitalize;
  margin-left: 5px;
  @extend %semi-bold;
}

.add-community-text {
  @include fontSize(16px);
  @extend %semi-bold;
}