// colors
$footer_bg: #393F4B;
$dark_text: #49515D;
$bright_blue: #1EB4DE;
$bright_gray: #E2E4E6;
$white: #fff;
$black: #000;
$carousel_indicator_active: #00A8D8;
$carousel_indicator: #86858E;
$footer_gray: $carousel_indicator;
$indicator_active: #393f4b;
$contact_mail: #373A3C;
$pale_gray: #A9A9A9;
$carousel_bg: #AEAEAE;
$separator_color: #e5e5e5;
$tier_color_padding: 60px;

// constants
$header_height: 70px;
$footer_height: 60px;