extends layouts/default
block content
    .confirm
        section.white-tier.text-center.white-tier-press
            .container
                .row
                    .col-xs-12
                        h3.white-tier-title Thanks for contacting us!
                        p.white-tier-info.text-center
                            | You will hear from one of our team members shortly.
                        p.white-tier-info.text-center
                            | In the meantime, why not join one of our two featured communities and experience smartup for yourself? 
        +launchElevate
        // section.marketing-options.text-left.marketing-options-confirm
        //   .container
        //     .row
        //       .col-xs-12
        //           .row.row-flex
        //             .col-flex.confirm-col
        //               .comfirm-col-img-wrap
        //                 a(href="https://launch.smartup.io/discover", target="_blank")
        //                   img.img-responsive(src='/images/imgpsh_fullsize (6)_l.png')
        //               .marketing-option-info.confirm
        //                 h4.confrim-col-title <a href="https://launch.smartup.io/discover", target="_blank">Launch</a>
        //                 p
        //                   | The startup community for entrepreneurs and innovators everywhere. Test and improve your startup knowledge with insights and qiuzzes from top founders, investors and journalists Founders is the original SmartUp community.
        //             .col-flex.confirm-col
        //               .comfirm-col-img-wrap
        //                 a(href="https://launch.smartup.io/content/668", target='_blank')
        //                   img.img-responsive(src='/images/elevate_bright.png')
        //               .marketing-option-info.confirm
        //                 h4.confrim-col-title <a href="https://elevate.smartup.io/community">Elevate</a>
        //                 p
        //                   | The innovation community for visionaries and mavericks 
        //                   | in mature businesses. Find the tools and insights that 
        //                   | will help you innovate regardless of where you work 
        //                   | and what you do.<br><br>
        //         .col-xs-12
        //             p.text-center.confirm-bottom-info
        //                 | You're also welcome to join both of them, in fact we'd love you to!