extends layouts/default
block content   
  .container.terms
    .row
      .col-xs-12
        h2 Trademark and Copyright Policy
        p
          | SmartUp is committed to helping others protect their intellectual property rights. We take these rights seriously and ask that our users also respect this. Our Terms do not allow our users to infringe someone else&rsquo;s intellectual property rights when using our Services.  If we identify any infringements, we may, in our sole discretion, terminate or suspend such accounts. To report copyright or trade mark infringement please email a completed claim to 
          a(href='support@smartup.io') support@smartup.io
          |  including all of the following information for SmartUp.
        h4 Before you contact SmartUp,
        ul
          li
            | If you are an Affiliated User (i.e. using SmartUp on behalf of your Network/Organisation) 
            | you should contact your Community Manager first. Remember all content posted within your SmartUp 
            | network belongs to your Network/Organisation.
          li
            | If you are an Unaffiliated User, you may want to contact the relevant SmartUp user you believe may
            | be infringing your copyright or trade mark to try and resolve the issue.
        h4
          b Claim information:
        ul
          li
            | Your complete contact information: full name, mailing address and phone number. Please considers if
            | a professional or business email address is the best contact method as we would need to provide your 
            | contact information to the person or Smart Up community whose content you are reporting.
          li
            | A description of the copyrighted work or trademark that you claim has been infringed.
          li
            | A description of the content hosted on our Services that you claim infringes your copyright or trademark.
          li
            | Information reasonably sufficient to permit us to locate the material on our Services. The best way is to let us know the name
            | of the Community in which the content in question features.
          li
            | A declaration that: You have a good faith belief that use of the copyrighted or trademarked content described above, in the
            | manner you have complained of, is not authorised by the copyright or trademark owner, its agent, or the law.
          li The information in your claim is accurate.
          li
            | You declare, under penalty of perjury, that you are the owner or authorized to act on behalf of the owner of an exclusive 
            | copyright or trademark that is allegedly infringed.
          li Your electronic signature or physical signature
        p
          | Any IP Takedown Notices should be sent to: 
          a(href='support@smartup.io') support@smartup.io