extends layouts/default
block content
    .confirm
        section.white-tier.text-center.white-tier-press
            .container
                .row
                    .col-xs-12
                        h3.white-tier-title Thanks for requesting a community!
                        p.white-tier-info.text-center
                            | Watch your inbox for an email conﬁrming our progress. We will be in touch with you within the next few hours. 
                        p.white-tier-info.text-center
                            | In the meantime, why not join one of our two featured communities and experience SmartUp for yourself? 
    
        section.marketing-options.text-left.confirm
          .container
            .row
              .col-xs-12
                  .row.row-flex
                    .col-flex
                      img.img-responsive(src='./images/launch_bright.png')
                      .marketing-option-info
                        h4 Launch
                        p
                          | The startup community for entrepreneurs and innovators everywhere. Test and improve your startup knowledge with insights and qiuzzes from top founders, investors and journalists Founders is the original SmartUp community.
                        a.marketing-option-link(href='#')
                          i.fa.fa-arrow-circle-o-right
                          |  Join
                    .col-flex
                      img.img-responsive(src='./images/elevate_bright.png')
                      .marketing-option-info
                        h4 Elevate
                        p
                          | The innovation community for visionaries and mavericks 
                          | in mature businesses. Find the tools and insights that 
                          | will help you innovate regardless of where you work 
                          | and what you do.<br><br>
                        a.marketing-option-link(href='#')
                          i.fa.fa-arrow-circle-o-right
                          |  Join
                .col-xs-12
                    p.text-center.confirm-bottom-info
                        | You're also welcome to join both of them, in fact we'd love you to! 