extends layouts/default

block metaVar
  - var meta = true
block metaContent
  meta(name='description', content="Learn how our new peer-to-peer knowledge creation and sharing platform can improve your business.")
  title SmartUp - For Business

block content
    .video-wrap
      video#myVideo1(loop='', muted='')
        source(type='video/mp4', src='/images/video_bg.mp4')
    section.dark-tier
      .container.reveal
        .row
          .col-xs-12.col-sm-8.col-sm-offset-2
            p
              | The new peer-to-peer knowledge creation and sharing platform.
    section.blue-tier
      .container.reveal
        .row
          .col-xs-12
            p.no-bottom-margin SmartUp can improve your business.
    section.business-item
      .container
        .row-flex
          .col-flex.no-right-15
            .business-item-img-wrap.wow.slideInLeft(data-wow-duration="1s", data-wow-dealy="3s")
              img.img-responsive(src='/images/features_innovation_small.png', alt='innovation')
          .col-flex.col-flex-content
            .business-item-content.wow.slideInRight(data-wow-duration="1s")
              h4.business-item-title innovation
              p
                | SmartUp helps scale your organization&rsquo;s innovation and transformation strategy by making it super easy to create, share and learn what your teams really need to know. Kick-off with inspiration from global innovators and dive into our human-centered design and lean startup learning streams.
              .row
                .col-sm-6.col-xs-12
                  a.cbtn.btn-dark(href='/innovation/') learn more
                .col-sm-6.col-xs-12
                  a.cbtn.btn-bright(href='/get_in_touch/') get in touch
    section.business-item
      .container
        .row-flex
          .col-flex.col-flex-content.order-1
            .business-item-content.wow.slideInLeft(data-wow-duration="1s", data-wow-dealy="3s")
              h4.business-item-title training+learning
              p
                | We&rsquo;re leading a revolution in learning, literally.  We&apos;re flipping training on it&apos;s head. Discover how our peer to peer knowledge sharing and micro-learning platform is democratizing knowledge sharing and learning.
              .row
                .col-sm-6.col-xs-12
                  a.cbtn.btn-dark(href='/learning/') learn more
                .col-sm-6.col-xs-12
                  a.cbtn.btn-bright(href='/get_in_touch/') get in touch
          .col-flex.no-left-15
            .business-item-img-wrap.wow.slideInRight(data-wow-duration="1s")
              img.img-responsive(src='/images/features_training_small.png', alt='training')
    section.business-item
      .container
        .row-flex
          .col-flex.no-right-15
            .business-item-img-wrap.wow.slideInLeft(data-wow-duration="1s", data-wow-dealy="3s")
              img.img-responsive(src='/images/features_recruitment_small.png', alt='recruitment')
          .col-flex.col-flex-content
            .business-item-content.wow.slideInRight(data-wow-duration="1s")
              h4.business-item-title recruitment
              p
                | Proactively create a private community of passionate, potential hires around a specific topic and fill it with custom content that enables the sharing of smarts. Use the leaderboard and create quizzes to identify future hires and reveal their real knowledge.
              .row
                .col-sm-6.col-xs-12
                  a.cbtn.btn-dark(href='/recruitment/') learn more
                .col-sm-6.col-xs-12
                  a.cbtn.btn-bright(href='/get_in_touch/') get in touch
    
    
    section.business-item.last
      .container
        .row-flex
          .col-flex.col-flex-content.order-1
            .business-item-content.wow.slideInLeft(data-wow-duration="1s", data-wow-dealy="3s")
              h4.business-item-title onboarding new employees
              p
                | Make the best first impression with an onboarding experience unlike any other. Tailor  content related to your teams and allow new hires to access that knowledge and test their skills through quizzes and polls to build excitement and engagement from day one.
              .row
                .col-sm-6.col-sm-offset-3.col-xs-12
                  a.cbtn.btn-bright(href='/get_in_touch/') get in touch
          .col-flex.no-left-15
            .business-item-img-wrap.wow.slideInRight(data-wow-duration="1s")
              img.img-responsive(src='/images/features_employees_small.png', alt='employees')

    
    section.blue-tier
      .container.reveal
        .row
          .col-xs-12.col-sm-8.col-sm-offset-2
            h3.blue-tier-title Everywhere you go.
            p.blue-tier-text
              | With fully native apps for iOS and Android, you can keep engaged
              | with your community whereever you are, whenever you want.
            footer.app-btns
              a.abtn.abtn-apple-store(href="#{appleStore}")
                img.img-reponsive(src='/images/apple.png', alt='apple store')
              a.abtn.abtn-google-play(href="#{googlePlay}")
                img.img-reponsive(src='/images/android.png', alt='google play')