extends layouts/default
block content
    section.white-tier.text-center.white-tier-press.no-bottom-border.no-top-border
        .container
            .row
                .col-xs-12
                    h3.white-tier-title Join one of our featured public communities for free, forever.
  
        section.marketing-options.text-left.marketing-options-white
          .container
            .row
              .col-xs-12
                  .row.row-flex
                    .col-flex
                      a(href="#0")
                        img.img-responsive(src='/images/launch_bright.png')
                      .marketing-option-info.marketing-option-info-home
                        .marketing-option-info-home-wrap
                            h4 <a href="#0">Launch</a>
                            p
                              | The startup community for entrepreneurs and innovators everywhere. 
                              | Test and improve your startup knowledge with insights and qiuzzes from top founders, 
                              | investors and journalists Founders is the original SmartUp community.
                        // a.marketing-option-link(href='#')
                        //   i.fa.fa-arrow-circle-o-right
                        //   |  Join
                    .col-flex
                      a(href="#0")
                        img.img-responsive(src='/images/elevate_bright.png')
                      .marketing-option-info.marketing-option-info-home
                          .marketing-option-info-home-wrap
                            h4 <a href="#">Elevate</a>
                            p
                              | The innovation community for visionaries and mavericks 
                              | in mature businesses. Find the tools and insights that 
                              | will help you innovate regardless of where you work 
                              | and what you do.
                        // a.marketing-option-link(href='#')
                        //   i.fa.fa-arrow-circle-o-right
                        //   |  Join
                        
    section.white-tier.text-center.white-tier-press.no-bottom-border.no-bottom-padding.find-community
        .container
            .row
                .col-xs-12
                    h3.white-tier-title Browse our invitation only private communities. Join if you've received your invite.
  
        section.marketing-options.text-left.marketing-options-white
          .container.find-community-options
            .row
              .col-xs-12
                  .row.row-flex
                    .col-flex
                      a(href="#")
                        img.img-responsive(src='/images/tower.png')
                      .marketing-option-info.marketing-option-info-home
                        .marketing-option-info-home-wrap
                            h4 <a href="#0">Maxis</a>
                            p
                              | Maxis is an invitation only community for employees of Maxis 
                              | Berhad. Connect and Learn with Malaysia's best data network. 
                        // a.marketing-option-link(href='#')
                        //   i.fa.fa-arrow-circle-o-right
                        //   |  Join
                    .col-flex.col-flex-4
                      .col-flex.margin-bottom
                        a(href="#0")
                          img.img-responsive(src='/images/dbs_open.png')
                        .marketing-option-info.marketing-option-info-home
                          .marketing-option-info-home-wrap
                            h4 <a href="#0">DBS Open</a>
                            p
                                | We're an invitation only community 
                                | where people can connect with one 
                                | of the top ﬁnancial institutions 
                                | in Asia.
                            // a.marketing-option-link(href='#')
                            //   i.fa.fa-arrow-circle-o-right
                            //   |  Read
                      .col-flex.margin-bottom
                        a(href="#0")
                          img.img-responsive(src='/images/great.png')
                        .marketing-option-info.marketing-option-info-home
                          .marketing-option-info-home-wrap
                            h4 <a href="#0">Great</a>
                            p
                                | We’re Powered by SmartUp. 
                                | Connect with those who can help 
                                | you with your exporting 
                                | challenges.
                            // a.marketing-option-link(href='#')
                            //   i.fa.fa-arrow-circle-o-right
                            //   |  Read
                      .col-flex.no-bottom-margin
                        a(href="#0")
                          img.img-responsive(src='/images/jil_thumb.png')
                        .marketing-option-info.marketing-option-info-home
                          .marketing-option-info-home-wrap
                            h4 <a href="#0">JLL</a>
                            p
                                | JLL is an invitation only community 
                                | for employees of Jones Lang 
                                | LaSalle. Connect, share and learn 
                                | with us.
                            // a.marketing-option-link(href='#')
                            //   i.fa.fa-arrow-circle-o-right
                            //   |  Read
                      .col-flex.no-bottom-margin
                        a(href="#0")
                          img.img-responsive(src='/images/ibf.png')
                        .marketing-option-info.marketing-option-info-home
                          .marketing-option-info-home-wrap
                            h4 <a href="#0">IBF</a>
                            p
                                | Welcome to the invitation only, 
                                | IBF community. We're creating a 
                                | ﬁntech center of excellence in 
                                | ﬁntech center of excellence in 
                            // a.marketing-option-link(href='#')
                            //   i.fa.fa-arrow-circle-o-right
                            //   |  Read