mixin communityItem(img, url, available, ...status)
  .col-flex.community-col
    .community-item-img-wrap
      .community-itme-img-inner
        a(href="#{url}")
          img.img-responsive(src="/images/find_community/community_#{img}.png", alt="#{img}")
        .community-item-info
          .community-item-info-inner
            if img != 'circle'
              h3.community-item-title
                a(href="#{url}")= img
            if img != 'circle'
              if available == 'private'
                span(class="cbtn btn-bright community-btn community-btn-private") Private
              else
                span(class="cbtn btn-bright community-btn community-btn-pbulic") Public
            if img != 'circle'
              .community-info-status
                each circle in status
                  if circle == 'blue'
                    .status.blue-status
                  if circle == 'dark'
                    .status.dark-status
                  if circle == 'green'
                    .status.green-status
                  if circle == 'orange'
                    .status.orange-status
                  if circle == 'transparent'
                    .status.transparent-status
    if img == 'circle'
      .community-item-desc.borderless
        block
    else
      .community-item-desc
        block

extends layouts/default
block content
    section.white-tier.text-center.white-tier-press.no-bottom-border.no-top-border
        .container
            .row
                .col-xs-12
                    h3.white-tier-title.find-community-title Join your company's private community.
                    p.find-community-intro-text or browse one of our featured, public communites.
        
        
    section.community-list
      .container
        .community-list-wrap
        .row.row-flex.community-row
          +communityItem('Launch', 'https://launch.smartup.io/discover', 'public', 'blue', 'dark', 'orange')
            p The startup community for entrepreneurs and innovators everywhere.
          +communityItem('Elevate', 'https://elevate.smartup.io/community', 'public', 'blue', 'dark', 'green')
            p The innovation community for visionaries and mavericks in mature businesses.
          +communityItem('AkzoNobel', 'https://akzonobel.smartup.io', 'private', 'blue', 'dark')
            p The SmartUp community for Akzobobel team members. Connect, Learn, Compete. #showwhatyouknow
          +communityItem('Asian Insights', 'http://asianinsights.smartup.io', 'private', 'blue', 'dark', 'green', 'orange')
            p Welcome to DBS Research Asian Insights. Connect and learn today with DBS Research.
        .row.row-flex.community-row
          +communityItem('Aviva', 'https://aviva.smartup.io', 'private', 'blue', 'dark', 'orange')
            p Welcome to the Aviva community on SmartUp!
          +communityItem('DBS Joiners', 'https://dbs-joiners.smartup.io', 'private', 'blue', 'dark', 'green')
            p Welcome to DBS Joiners. Connect and learn today with DBS.
          +communityItem('DBS SEED', 'http://dbs-seed.smartup.io', 'private', 'blue', 'dark')
            p Welcome to DBS Joiners. Connect and learn today with DBS SEED.
          +communityItem('IESE', 'https://iese.smartup.io', 'private', 'blue', 'dark', 'green', 'orange')
            p Welcome to IESE. Connect and learn today with IESE.
        .row.row-flex.community-row
          +communityItem('JLL', 'https://jll.smartup.io', 'private', 'blue', 'dark', 'orange')
            p The SmartUp community for JLL team members. Connect, Learn, Compete. #showwhatyouknow
          +communityItem('Linde', 'https://linde.smartup.io', 'private', 'blue', 'dark', 'green')
            p The SmartUp community for JLL team members. Connect, Learn, Compete. #showwhatyouknow
          +communityItem('Mahsing', 'https://mahsing.smartup.io', 'private', 'blue', 'dark')
            p Welcome to Mahsing community on SmartUp.
          +communityItem('Manulife', 'https://manulife.smartup.io', 'private', 'blue', 'dark', 'green', 'orange')
            p The SmartUp community for Manulife team members. Connect, Learn, Compete. #showwhatyouknow
        .row.row-flex.community-row
          +communityItem('Maxis', 'https://maxis.smartup.io', 'private', 'blue', 'dark', 'green')
            p The SmartUp community for Maxis team members. Connect, Learn, Compete. #showwhatyouknow
          +communityItem('R3', 'https://r3.smartup.io', 'private', 'blue', 'dark', 'green')
            p The SmartUp community for R3 team members.
          +communityItem('SMU Singapore', 'https://smu.smartup.io', 'private', 'green', 'transparent')
            p Welcome to Singapore management community on SmartUp.
          +communityItem('circle', '/create_community/')
            p.add-community-text
              a(href="/create_community/") Create Community