extends layouts/default
block content
    .confirm
        section.white-tier.text-center.white-tier-press
            .container
                .row
                    .col-xs-12
                        h3.white-tier-title Thanks for getting in touch!
                        p.white-tier-info.text-center
                            | You will hear from a real person within the next 24 hours, if not sooner.
                        p.white-tier-info.text-center
                            | In the meantime, why not join one of our two featured communities and experience smartup for yourself? 
    
                +launchElevate
                .col-xs-12
                    p.text-center.confirm-bottom-info
                        | You're also welcome to join both of them, in fact we'd love you to! 