extends layouts/default
block content
    section.jumbotron.jumbotron-home
      .jumbotron-inner
        .container
          .row-flex
            .col-flex
              h1.jumbotron-title show what you know
              p.lead
                | Create or join a community and let SmartUp help boost your know-how with fun, 
                | engaging content on the topics that matter the most to you. Connect with peers and influential
                | founders to learn new skills, share insight, gain advice and much more.
              a.cbtn.btn-blue(href='/create_community/') create a community
              footer
                small
                  | Have you been invited to a SmartUp community already? If so, 
                  a.community-find-link(href='/find_community/') find your community
    
    section.dark-tier
      .container
        .row
          .col-xs-12
            p
              | Join one of our featured communities below to connect with peers, influencers and thought leaders.
    section.marketing-options.marketing-options-home
      .container.carousel-container
        .row
          .col-xs-12
            #myCarousel.carousel.slide(data-ride='carousel', data-interval='false')
              a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                span.glyphicon.fa.fa-angle-left(aria-hidden='true')
                span.sr-only Previous
              a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                span.glyphicon.fa.fa-angle-right(aria-hidden='true')
                span.sr-only Next
              .carousel-inner(role='listbox')
                .item.active
                  .row.row-flex
                    .col-flex
                      a(href="https://launch.smartup.io/discover")
                        img.img-responsive(src='/images/imgpsh_fullsize (6)_l.png')
                      .marketing-option-info.marketing-option-info-home
                        .marketing-option-info-home-wrap
                          h4 <a href="https://launch.smartup.io/discover">Launch</a>
                          p.text-justify
                            | The startup community for entrepreneurs and innovators everywhere. 
                            | Test and improve your startup knowledge with insights and qiuzzes from top founders, 
                            | investors and journalists Founders is the original SmartUp community.
                    .col-flex.col-flex-4
                      .col-flex.margin-bottom-30
                        a(href="https://launch.smartup.io/content/867")
                          img.img-responsive(src='/images/imgpsh_fullsize (7)_l.png')
                        .marketing-option-info.marketing-option-info-home
                          .marketing-option-info-home-wrap
                            p Facebook controversy, the flying car, and VR Breakthrough
                      .col-flex.margin-bottom-30
                        a(href="https://launch.smartup.io/content/668")
                          img.img-responsive(src='/images/imgpsh_fullsize (1)_l.png')
                        .marketing-option-info.marketing-option-info-home
                          .marketing-option-info-home-wrap
                            p Robocall strike force, nkorean V.O.D and Space-Starbucks?
                      .col-flex.no-bottom-margin
                        a(href="https://launch.smartup.io/content/382")
                          img.img-responsive(src='/images/imgpsh_fullsize (9)_l.png')
                        .marketing-option-info.marketing-option-info-home
                          .marketing-option-info-home-wrap
                            p How wearable tech will track human emotion
                      .col-flex.no-bottom-margin
                        a(href="https://launch.smartup.io/content/327")
                          img.img-responsive(src='/images/imgpsh_fullsize (10)_l.png')
                        .marketing-option-info.marketing-option-info-home
                          .marketing-option-info-home-wrap
                            p Snapchat&apos;s$1B+, PayPal app kills, tinder left-swipe rivals
                            
                .item
                  .row.row-flex
                    .col-flex
                      a(href="https://elevate.smartup.io/community")
                        img.img-responsive(src='/images/elevate_bright.png')
                      .marketing-option-info.marketing-option-info-home
                        .marketing-option-info-home-wrap
                          h4 <a href="https://elevate.smartup.io/community">Elevate</a>
                          p.text-justify
                            | The innovation community for visionaries and mavericks in mature businesses.
                            | Find the tools and insights that will help you innovate regardless of where you work and what you do.
                    .col-flex.col-flex-4
                      .col-flex.margin-bottom-30
                        a(href="https://elevate.smartup.io/content/1635")
                          img.img-responsive(src='/images/imgpsh_fullsize.png')
                        .marketing-option-info.marketing-option-info-home
                          .marketing-option-info-home-wrap
                            p Facebook controversy, the flying car, and VR Breakthrough
                      .col-flex.margin-bottom-30
                        a(href="https://elevate.smartup.io/content/2035")
                          img.img-responsive(src='/images/imgpsh_fullsize_e (1).png')
                        .marketing-option-info.marketing-option-info-home
                          .marketing-option-info-home-wrap
                            p Robocall strike force, nkorean V.O.D and Space-Starbucks?
                      .col-flex.no-bottom-margin
                        a(href="https://elevate.smartup.io/content/2202")
                          img.img-responsive(src='/images/imgpsh_fullsize_e (2).png')
                        .marketing-option-info.marketing-option-info-home
                          .marketing-option-info-home-wrap
                            p How wearable tech will track human emotion
                      .col-flex.no-bottom-margin
                        a(href="https://elevate.smartup.io/content/2236")
                          img.img-responsive(src='/images/imgpsh_fullsize_e (3).png')
                        .marketing-option-info.marketing-option-info-home
                          .marketing-option-info-home-wrap
                            p Snapchat&apos;s$1B+, PayPal app kills, tinder left-swipe rivals

                ol.carousel-indicators
                  li.active(data-target='#myCarousel', data-slide-to='0')
                  li(data-target='#myCarousel', data-slide-to='1')

    section.features.container
      .col-sm-8.col-sm-offset-2
        h3.text-center.features-home-title
          | Unlock your knowledge.
          | Unleash your potential.
          p.text-center.features-intro
            | Create, share and exchange interactive content for a learning experience that&rsquo;s fun
            | and collaborative. Unlock your own real knowledge and see where it takes you.
      .features-cols.clearfix
        .col-md-4.col-xs-12
          .col-sm-12.col-md-3
            img.img-responsive(src='/images/eye_thin.svg', alt='eye')
          .col-sm-12.col-md-9
            p.feature-desc
              | SmartUp reveals the passions, interests, skills and talents hidden by traditional organization structures, silos and hierarchies.
        .col-md-4.col-xs-12
          .col-sm-12.col-md-3
            img.img-responsive(src='/images/peers_thin.svg', alt='peers')
          .col-sm-12.col-md-9
            p.feature-desc
              | Our peer-to-peer knowledge platform democratizes the creation and consumption of knowledge throughout your business.
        .col-md-4.col-xs-12
          .col-sm-12.col-md-3
            img.img-responsive(src='/images/phone.svg', alt='phone')
          .col-sm-12.col-md-9
            p.feature-desc.feature-desc-last
              | SmartUp was created for the mobile generation&mdash;entrepreneurs, millennials and innovators. Inspired by microlearning, we&rsquo;ve evolved for the enterprise.

    section.blue-tier
      .container
        p How can SmartUp inspire success in your life and business?
        a.cbtn.btn-dark(href='/features/') find out