extends layouts/default
block content
    section.jumbotron.jumbotron-home
      .jumbotron-inner
        .container
          .row-flex
            .col-flex
              h2.jumbotron-title show what you know
              p.lead
                | Create or join a community and let SmartUp help boost your know-how with fun, 
                | engaging content on the topics that matter the most to you. Connect with peers and influential
                | founders to learn new skills, share insight, gain advice and much more.
              a.CreateCommunity.cbtn.btn-blue(href='/create_community/', onclick="ga('send', 'event', 'Home Page', 'click', 'CreateCommunity', '1', {'transport': 'beacon'});") create a community
              footer
                small
                  | Have you been invited to a SmartUp community already? If so, 
                  a.FindCommunity.community-find-link(href='/find_community/', onclick="ga('send', 'event', 'Home Page', 'click', 'FindCommunity', '1', {'transport': 'beacon'});") find your community
    
    .dark-tier
      .container
        .row
          .col-xs-12
            p
              | Join one of our featured communities below to connect with peers, influencers and thought leaders.
    section.marketing-options.marketing-options-home
      .container.carousel-container
        #myCarousel.carousel.slide.carousel-fade(data-ride='carousel', data-interval='false')
          a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
            span.glyphicon.fa.fa-angle-left(aria-hidden='true')
            span.sr-only Previous
          a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
            span.glyphicon.fa.fa-angle-right(aria-hidden='true')
            span.sr-only Next
              
          .carousel-inner(role='listbox')
            +carouselItem-1
            +carouselItem-2
                        
          ol.carousel-indicators
            li.active(data-target='#myCarousel', data-slide-to='0')
            li(data-target='#myCarousel', data-slide-to='1')

    section.features.container
      .col-sm-8.col-sm-offset-2
        h3.text-center.features-home-title
          | Unlock your knowledge.
          | Unleash your potential.
        p.text-center.features-intro
          | Create, share and exchange interactive content for a learning experience that&rsquo;s fun
          | and collaborative. Unlock your own real knowledge and see where it takes you.
      .features-cols.clearfix
        .col-md-4.col-xs-12
          .col-sm-12.col-md-3
            img.img-responsive(src='/images/eye_thin.svg', alt='eye')
          .col-sm-12.col-md-9
            p.feature-desc
              | SmartUp reveals the passions, interests, skills and talents hidden by traditional organization structures, silos and hierarchies.
        .col-md-4.col-xs-12
          .col-sm-12.col-md-3
            img.img-responsive(src='/images/peers_thin.svg', alt='peers')
          .col-sm-12.col-md-9
            p.feature-desc
              | Our peer-to-peer knowledge platform democratizes the creation and consumption of knowledge throughout your business.
        .col-md-4.col-xs-12
          .col-sm-12.col-md-3
            img.img-responsive(src='/images/phone.svg', alt='phone')
          .col-sm-12.col-md-9
            p.feature-desc.feature-desc-last
              | SmartUp was created for the mobile generation&mdash;entrepreneurs, millennials and innovators. Inspired by microlearning, we&rsquo;ve evolved for the enterprise.

    .blue-tier
      .container
        p How can SmartUp inspire success in your life and business?
        a.cbtn.btn-dark(href='/business/', onclick="ga('send', 'event', 'Home Page', 'click', 'BottomFindOut', '1', {'transport': 'beacon'});") find out