extends layouts/default

block metaVar
  - var meta = true

block metaContent
  meta(name='description', content="Scale your company's innovation capability and digital transformation strategy. Start here with our human centered design and lean startup learning streams.")
  title SmartUp + Innovation

block content
    section.jumbotron.jumbotron-innovation
      .jumbotron-inner
        .container
          .row-flex
            .col-flex
              p.lead
                | Scale your company's innovation capability
                | and digital transformation strategy.
    section.dark-tier
      .container
        .row
          .col-xs-12
            p
              | We make it super easy to create, share and learn what your teams really need to know. 
              | Start here with our human-centered design and lean startup learning streams.
    section.marketing-options.marketing-options-innovation
      .container
        .row
          .col-xs-12
            .row.row-flex
              .col-flex(data-wow-duration="1s")
                // git_in_touch
                a(href="https://elevate.smartup.io/channel/238")
                  img.img-responsive(src='/images/quick_intro.png')
                  .marketing-option-info
                    p I need a quick introduction to innovation methods
              .col-flex(data-wow-duration="1s")
                a(href="https://elevate.smartup.io/channel/282")
                  img.img-responsive(src='/images/ask_more_questions.png')
                  .marketing-option-info
                    p I need to generate new ideas
              .col-flex(data-wow-duration="1s")
                a(href="https://elevate.smartup.io/stream/483")
                  img.img-responsive(src='/images/existing_idea.png')
                  .marketing-option-info
                    p I need to test an existing idea
              .col-flex(data-wow-duration="1s")
                a(href="https://elevate.smartup.io/stream/484")
                  img.img-responsive(src='/images/innovation_process.png')
                  .marketing-option-info
                    p I need an end to end innovation process
 
      .container
        .row
          .col-xs-12
            quote.innovation-quote “The best vision is insight.”
            |             
            p.innovation-quote-author -Malcolm Forbes
            
    section.business-item
      .container-fluid
        .row.row-flex
          .col-flex
            .business-item-img-wrap.left.wow.slideInLeft(data-wow-duration="1s", data-wow-dealy="3s")
              img.img-responsive(src='/images/innovation_knowladge.png', alt='knowladge')
          .col-flex.col-flex-content
            .business-item-content.wow.slideInRight(data-wow-duration="1s")
              .col-md-10
                h4.business-item-title Unlock knowledge
                p
                  | Use SmartUp&apos;s intuitive SmartDoc tools to enable your teams to create and share interactive content.
                p
                  | Our peer to peer platform empowers anyone to share their knowledge and build the
                  | skills they need to innovate, solve problems and grow.
    section.business-item
      .container-fluid
        .row-flex.row
          .col-flex.col-flex-content.order-1
            .col-md-10.col-md-offset-1
              .business-item-content.text-right.wow.slideInLeft(data-wow-duration="1s")
                h4.business-item-title Discover your innovators
                p
                  | Quizzes reveal what your teams really know and what they need to know.
                  | Invite them to create content and show their talents, interests, passions and skills..
          .col-flex
            .business-item-img-wrap.right.wow.slideInRight(data-wow-duration="1s", data-wow-dealy="3s")
              img.img-responsive(src='/images/innovation_discover.png', alt='discover')
    section.business-item
      .container-fluid
        .row-flex.row
          .col-flex
            .business-item-img-wrap.left.wow.slideInLeft(data-wow-duration="1s", data-wow-dealy="3s")
              img.img-responsive(src='/images/innovation_customize.png', alt='customize')
          .col-flex.col-flex-content
            .col-md-10
              .business-item-content.wow.slideInRight(data-wow-duration="1s")
                  h4.business-item-title Customizable templates
                  p Cut down on expensive training that isn&apos;t relevant to your company.
                  p Use our templates and get your teams creating content speci&filig;c to their needs.
    section.business-item.last
      .container-fluid
        .row-flex.row
          .col-flex.col-flex-content.order-1
            .col-md-10.col-md-offset-1
              .business-item-content.text-right.wow.slideInLeft(data-wow-duration="1s")
                h4.business-item-title Engage &amp; compete
                p
                  | Keep teams coming back with engaging content and competitions. 
                  | Members get points for every smartdoc and earn more from quizzes and polls.
                  | Our leaderboards drive competition and support recognition.
          .col-flex
            .business-item-img-wrap.right.wow.slideInRight(data-wow-duration="1s", data-wow-dealy="3s")
              img.img-responsive(src='/images/innovation_engage.png', alt='engage')
    
    section.blue-tier
      .container
        p Getting started is simple
        .row
          .col-md-4
            .blue-tier-step
              .blue-tier-number
                .blue-tier-step-line
                  .blue-tier-step-line-wrap
                    .blue-tier-step-line-dot
                    .blue-tier-step-line-dot-front
                | 01
              p
                | Get in touch. Secure your community, complete with our entire library of SmartUp&apos;s innovation content
          .col-md-4
            .blue-tier-step
              .blue-tier-number 
                .blue-tier-step-line
                  .blue-tier-step-line-wrap
                    .blue-tier-step-line-dot
                    .blue-tier-step-line-dot-front
                | 02
              p Invite your teams
          .col-md-4
            .blue-tier-step
              .blue-tier-number 03
              p
                | Once you&apos;ve started. Then create custom content from our templates or with our content team.

    section.get-in-touch
      .container
        .row
          .col-sm-10.col-sm-offset-1
            p.text-center
              | Our seasoned team will share how other innovators are helping people in their organizations to show what they know, why they&apos;re doing it and the results they&apos;re seeing.
      .container
        .get-in-touch-partners.row-flex
          .col-flex
            img.img-responsive(src='/images/hong.png', alt='hong leong bank')
          .col-flex
            img.img-responsive(src='/images/jil.png', alt='jil')
          .col-flex
            img.img-responsive(src='/images/linde.png', alt='linde')
          .col-flex
            img.img-responsive(src='/images/maxis.png', alt='maxis')
          .col-flex
            img.img-responsive(src='/images/dbs.png', alt='dbs bank')
      .container
        .row
          .col-xs-12
            a.cbtn.btn-dark(href='/get_in_touch/') get in touch