extends layouts/default

block metaVar
  - var meta = true
block metaContent
  meta(name='description', content="Discover how our peer to peer knowledge sharing and micro-learning platform is democratizing knowledge sharing and learning.")
  title Smartup - Training + Learning

block content 
    section.jumbotron.jumbotron-learning
      .jumbotron-inner
        .container
          .row
            .col-xs-12
              h2.jumbotron-title.text-center
                | SmartUp is <strong>literally</strong> a revolution in learning.
                | We&rsquo;re flipping training on its head.

    .dark-tier
      .container
        .row
          .col-xs-12
            p
              | SmartUp democratizes knowledge sharing and learning: our peer to peer
              | platform allows anyone, anywhere to share knowledge to <span class="asterisk asterisk-anyone">anyone<i class="fa fa-asterisk" aria-hidden="true"></i></span> in your organization.
            small.dark-tier-bottom-text
              | <span class="asterisk asterisk-smartup"><i class="fa fa-asterisk" aria-hidden="true"></i> SmartUp</span>
              | Comes with admin controls that suit your unique organizational culture.
              | We put you in control of who you want to create, share and consume knowledge - from totally open
              | to tightly controlled.
    .separator-bottom 
      .features.feature-page.container
        .features-cols.clearfix
          .col-md-4.col-xs-12
            .col-sm-12.col-md-3
              img.img-responsive(src='/images/eye_thin.svg', alt='eye')
            .col-sm-12.col-md-9
              p.feature-desc
                | In today&rsquo;s fast changing world, learning teams are finding it increasingly 
                | hard to &filig;nd and deliver training around the latest trends, 
                | tools and methods for the teams that need them.
          .col-md-4.col-xs-12
            .col-sm-12.col-md-3
              img.img-responsive(src='/images/peers_thin.svg', alt='peers')
            .col-sm-12.col-md-9
              p.feature-desc
                | Our peer to peer knowledge sharing puts learning in the hands of those who
                | know and those who need to know - your teams.
          .col-md-4.col-xs-12
            .col-sm-12.col-md-3
              img.img-responsive(src='/images/phone.svg', alt='phone')
            .col-sm-12.col-md-9
              p.feature-desc.last
                | Today&apos;s workforce is demanding a more flexible and mobile learning experience. 
                | SmartUp&rsquo;s mobile-first platform's engaging formats allow learning to take place anywhere.
    
    
    section.business-item
      .container-fluid
        .row.row-flex
          .col-flex
            .business-item-img-wrap.left.wow.slideInLeft(data-wow-duration="1s", data-wow-dealy="3s")
              img.img-responsive(src='/images/learning_knowladge.png', alt='Unlock your knowledge. Unleash your potential.')
          .col-flex.col-flex-content
            .business-item-content.wow.slideInRight(data-wow-duration="1s")
              .col-md-10
                h4.business-item-title Unlock your knowledge. Unleash your potential.
                p
                  | SmartUp’s intuitive SmartDoc system enables your teams 
                  | to create and share the content they know your business 
                  | needs to thrive in today’s world.
    section.business-item
      .container-fluid.reveal
        .row-flex.row
          .col-flex.col-flex-content.order-1
            .col-md-10.col-md-offset-1
              .business-item-content.text-right.wow.slideInLeft(data-wow-duration="1s")
                h4.business-item-title Guide with learning streams
                p
                  | Create learning mandatory, recommended or inspirational 
                  | learning streams. Allow the people in your teams to curate and 
                  | share their own learning playlists with others.
          .col-flex
            .business-item-img-wrap.right.wow.slideInRight(data-wow-duration="1s", data-wow-dealy="3s")
              img.img-responsive(src='/images/learning_guide.png', alt='Guide with learning streams')
    section.business-item
      .container-fluid.reveal
        .row-flex.row
          .col-flex
            .business-item-img-wrap.left.wow.slideInLeft(data-wow-duration="1s", data-wow-dealy="3s")
              img.img-responsive(src='/images/learning_inspiration.png', alt='Inspiring competition')
          .col-flex.col-flex-content
            .col-md-10
              .business-item-content.wow.slideInRight(data-wow-duration="1s")
                h4.business-item-title Inspiring competition
                p 
                  | Make learning and training a game. Our leaderboards 
                  | drive competition, across your company and within 
                  | speciﬁc channel topics.
    section.business-item.last.reveal
      .container-fluid
        .row-flex.row
          .col-flex.col-flex-content.order-1
            .col-md-10.col-md-offset-1
              .business-item-content.text-right.wow.slideInLeft(data-wow-duration="1s")
                h4.business-item-title Revealing insights
                p
                  | Individual member proﬁles show what they ‘really’ know. Admin 
                  | level dashboards reveal what the organization really knows. For 
                  | both, the ability to identify and ﬁll knowledge gaps is simple.
          .col-flex
            .business-item-img-wrap.right.wow.slideInRight(data-wow-duration="1s", data-wow-dealy="3s")
              img.img-responsive(src='/images/learning_guide.png', alt='Revealing insights')

    .blue-tier
      .container
        .row
          .col-md-10.col-md-offset-1
            p Shared knowledge multiplies engagement
            |       
            p.blue-tier-text
              | Millennials and those who share their mindset are crying out for new ways to
              | explore new career opportunities. SmartUp helps you to identify their dreams by helping
              | see what they&rsquo;re sharing - their knowledge, passions, interests, skills and talents.
 
    .get-in-touch
      .container
        .row
          .col-xs-12
            p.text-center
              | Join the learning revolution, get in touch and learn how other businesses are helping people
              |  in their organizations to show what they know, why they&rsquo;re doing it and the results they&rsquo;re seeing.
      .container
        .get-in-touch-partners.row-flex
          .col-flex
            img.img-responsive(src='/images/hong.png', alt='hong leong bank')
          |             
          .col-flex
            img.img-responsive(src='/images/jil.png', alt='jil')
          |             
          .col-flex
            img.img-responsive(src='/images/linde.png', alt='linde')
          |             
          .col-flex
            img.img-responsive(src='/images/maxis.png', alt='maxis')
          |             
          .col-flex
            img.img-responsive(src='/images/dbs.png', alt='dbs bank')
      .container
        .row
          .col-xs-12
            a.cbtn.btn-dark(href='/get_in_touch/', onclick="ga('send', 'event', 'Business/Learning', 'click', 'LearningGetInTouch', '1', {'transport': 'beacon'});") get in touch