extends layouts/default
block content 
    section.jumbotron.jumbotron-learning
      .jumbotron-inner
        .container
          .row-flex
            .col-flex
              h1.jumbotron-title
                | SmartUp is literally a revolution in learning.
                br
                | We&rsquo;re flipping training on it&rsquo;s head.
    |   
    section.dark-tier
      .container
        .row
          .col-xs-12
            p
              | SmartUp democratizes knowledge sharing and learning: our peer to peer platform allows anyone, anywhere to share knowledge to anyone in your organization.
            |           
            small
              | SmartUp Comes with admin controls that suit your unique organizational culture. We put you in control of who you want to create, share and consume knowledge - from totally open to tighty controlled.
    |   
    section.features.container
      .col-md-4.col-xs-12
        .col-xs-4
          img.img-responsive(src='./images/eye.svg', alt='eye')
        |       
        .col-xs-8
          p.feature-desc
            | In today&rsquo;s fast changing world, learning teams are it &filig;nding increasingly hard to &filig;nd and deliver training around the latest trends, tools and methods for the teams that need them
      |     
      .col-md-4.col-xs-12
        .col-xs-4
          img.img-responsive(src='./images/peer.svg', alt='eye')
        |       
        .col-xs-8
          p.feature-desc
            | Our peer to peer knowledge sharing puts learning in the hands of those who know and those who need to know - your teams.
      |     
      .col-md-4.col-xs-12
        .col-xs-4
          img.img-responsive(src='./images/phone.svg', alt='phone')
        |       
        .col-xs-8
          p.feature-desc
            | Today&apos;s workforce is demanding a more flexibile and mobile learning experience. SmartUp&rsquo;s mobile &filig;rst platform engaging formats allows learning to take place anywhere..
    |   
    |   
    section.business-item
      .container-fluid.reveal
        .row.row-flex
          .col-flex.no-left-15
            img.img-responsive(src='./images/innovation_knowladge.png', alt='knowladge')
          |         
          .col-flex.col-flex-content
            .business-item-content
              h4 unlock knowledge
              |             
              p
                | Use SmartUp&apos;s intuitive SmartDoc tools to enable your teams to create and share interactive content.
              |             
              p
                | Our peer to peer platform empowers anyone to share their knowledge and build the skills they need to innovate, solve problems and grow.
    |   
    section.business-item
      .container-fluid.reveal
        .row-flex.row
          .col-flex.col-flex-content
            .business-item-content.text-right
              h4 discover your innovators
              |             
              p
                | Quizzes reveal what your teams really know and what they need to know. Invite them to create content and show their talents, interests, passions and skills..
          |         
          .col-flex.no-right-15
            img.img-responsive(src='./images/innovation_discover.png', alt='discover')
    |   
    section.business-item
      .container-fluid.reveal
        .row-flex.row
          .col-flex.no-left-15
            img.img-responsive(src='./images/innovation_customize.png', alt='customize')
          |         
          .col-flex.col-flex-content
            .business-item-content
              h4 customizable templates
              |             
              p Cut down on expensive training that isn&apos;t relevant to your company.
              |             
              p Use our templates and get your teams creating content speci&filig;c to their needs.
    |   
    section.business-item.last.reveal
      .container-fluid.reveal
        .row-flex.row
          .col-flex.col-flex-content
            .business-item-content.text-right
              h4 engage &amp; compete
              |             
              p
                | Keep teams coming back with engaging content and competitions. Members get points for every smartdoc and earn more from quizzes and polls. Our leaderboards drive competition and support recognition.
          |         
          .col-flex.no-right-15
            img.img-responsive(src='./images/innovation_engage.png', alt='engage')
    |   
    section.blue-tier
      .container
        p Shared knowledge multiplies engagement
        |       
        p
          | Millennials and those who share their mindset are crying out for new ways to explore new career opportunities. SmartUp helps you to identify their dreams by helping see what they&rsquo;re sharing - their knowledge, passions, interests, skills and talents.
    |   
    |   
    section.get-in-touch
      .container
        .row
          .col-xs-12
            p.text-center
              | Join the learning revolution, get in touch and learn how other businesses are helping people
              br
              |  in their organizations to show what they know, why they&rsquo;re doing it and the results they&rsquo;re seeing.
      |       
      .container-fluid
        .get-in-touch-partners.row-flex
          .col-flex
            img.img-responsive(src='images/hong.png', alt='hong leong bank')
          |             
          .col-flex
            img.img-responsive(src='images/jil.png', alt='jil')
          |             
          .col-flex
            img.img-responsive(src='images/linde.png', alt='linde')
          |             
          .col-flex
            img.img-responsive(src='images/maxis.png', alt='maxis')
          |             
          .col-flex
            img.img-responsive(src='images/dbs.png', alt='dbs bank')
      |       
      .container
        .row
          .col-xs-12
            a.cbtn.btn-dark(href='#0') get in touch