extends layouts/default
block content
    section.jumbotron.jumbotron-press
      .jumbotron-inner
        .container
          .row-flex
            .col-flex
              h1.jumbotron-title media & press

    section.dark-tier
      .container
        .row
          .col-xs-12
            p
              | something about smartup here, because we’re sticking to convention

    .container
        .row
            .col-xs-12
                h2.text-center.feedback-title Press contact
                
        .row.contact-team
            .col-sm-4.text-center
                .contact-team-img-wrap
                    img.img-responsive(src='images/SmartUp_Photos/Frank Meehan, CEO.jpg', alt='Frank Meehan, CEO')
                a.contact-team-mail(href="mailto:") Frank Meehan
                p.contact-team-pale-txt CEO
                a.cbtn.btn-bright(href="#" class="cbtn") frank@smartup.io
            .col-sm-4.text-center
                .contact-team-img-wrap
                    img.img-responsive(src='images/SmartUp_Photos/Anthony Onesto, GM, Americas.jpg', alt='Anthony Onesto, GM, Americas')
                a.contact-team-mail(href="mailto:") Anthony Onesto
                p.contact-team-pale-txt GM Americas
                a.cbtn.btn-bright(href="#" class="cbtn") anthony@smartup.io
            .col-sm-4.text-center
                .contact-team-img-wrap
                    img.img-responsive(src='images/SmartUp_Photos/Laurence Smith, Head of Asia.jpg', alt='Laurence Smith, Head of Asia')
                a.contact-team-mail(href="mailto:") Laurence Smith
                p.contact-team-pale-txt Asia Specialist & Advisor
                a.cbtn.btn-bright(href="#" class="cbtn") laurence@smartup.io
                
    section.white-tier.text-center.no-bottom-border
        .container
            .row
                .col-xs-12
                    h3.white-tier-title about smartup
                    p.white-tier-info.text-justify
                        | Focus backing social proof direct mailing iPhone responsive web design. Facebook bootstrapping value 
                        | proposition crowdfunding partner network. Accelerator facebook traction startup infographic branding. Focus
                        | user experience prototype bootstrapping social proof product management. IPhone validation iteration supply 
                        | chain churn rate return on investment hypotheses. Paradigm shift ecosystem learning curve virality graphical user 
                        | interface strategy bandwidth low hanging fruit rockstar crowdfunding hackathon scrum project user experience. 
                        | Alpha rockstar strategy buyer facebook marketing hypotheses early adopters mass market interaction design. 
                        | Innovator entrepreneur equity twitter advisor social media. Supply chain gen-z ﬁrst mover advantage creative 
                        | ecosystem ramen. Startup technology non-disclosure agreement bandwidth prototype analytics entrepreneur 
                        | virality client burn rate seed money.
                        
    section.white-tier.text-center.white-tier-press
        .container
            .row
                .col-xs-12
                    h3.white-tier-title try smartup for yourself
                    p.white-tier-info.text-justify
                        | Focus backing social proof direct mailing iPhone responsive web design. Facebook bootstrapping value proposition 
                        | crowdfunding partner network.
        section.marketing-options.text-left
          .container
            .row
              .col-xs-12
                  .row.row-flex
                    .col-flex
                      img.img-responsive(src='./images/launch_bright.png')
                      .marketing-option-info
                        h4 Launch
                        p
                          | The startup community for entrepreneurs and innovators everywhere. Test and improve your startup knowledge with insights and qiuzzes from top founders, investors and journalists Founders is the original SmartUp community.
                        a.marketing-option-link(href='#')
                          i.fa.fa-arrow-circle-o-right
                          |  Join
                    .col-flex
                      img.img-responsive(src='./images/elevate_bright.png')
                      .marketing-option-info
                        h4 Elevate
                        p
                          | The innovation community for visionaries and mavericks 
                          | in mature businesses. Find the tools and insights that 
                          | will help you innovate regardless of where you work 
                          | and what you do.<br><br>
                        a.marketing-option-link(href='#')
                          i.fa.fa-arrow-circle-o-right
                          |  Join
        section.white-tier.text-center.white-tier-press.no-bottom-border
            .container
                .row
                    .col-xs-12
                        h3.white-tier-title our latest features include
                        ul.press-features.text-justify
                            li
                                | Focus backing social proof direct mailing iPhone responsive web design. Facebook bootstrapping value proposition 
                                | crowdfunding partner network. Accelerator facebook traction startup infographic branding. Focus user experience prototype 
                                | bootstrapping social proof product management.
                            li
                                | Focus backing social proof direct mailing iPhone responsive web design. Facebook bootstrapping value proposition 
                                | crowdfunding partner network. Accelerator facebook traction startup infographic branding. Focus user experience prototype 
                                | bootstrapping social proof product management.
                            li
                                | Focus backing social proof direct mailing iPhone responsive web design. Facebook bootstrapping value proposition 
                                | crowdfunding partner network. Accelerator facebook traction startup infographic branding. Focus user experience prototype 
                                | bootstrapping social proof product management.
                            li
                                | Focus backing social proof direct mailing iPhone responsive web design. Facebook bootstrapping value proposition 
                                | crowdfunding partner network. Accelerator facebook traction startup infographic branding. Focus user experience prototype 
                                | bootstrapping social proof product management.
                            li
                                | Focus backing social proof direct mailing iPhone responsive web design. Facebook bootstrapping value proposition 
                                | crowdfunding partner network. Accelerator facebook traction startup infographic branding. Focus user experience prototype 
                                | bootstrapping social proof product management.
                            li
                                | Focus backing social proof direct mailing iPhone responsive web design. Facebook bootstrapping value proposition 
                                | crowdfunding partner network. Accelerator facebook traction startup infographic branding. Focus user experience prototype 
                                | bootstrapping social proof product management.
        section.white-tier.text-center.white-tier-press
            .container
                .row
                    .col-xs-12
                        h3.white-tier-title latest press release