extends layouts/default
block content
    section.jumbotron.jumbotron-press
      .jumbotron-inner
        .container
          .row-flex
            .col-flex
              h1.jumbotron-title media & press

    .container
        .row
            .col-xs-12
                h2.text-center.feedback-title Press contacts
                
        .row.contact-team
            .col-sm-4.text-center
                .contact-team-img-wrap
                    img.img-responsive(src='/images/SmartUp_Photos/Frank Meehan, CEO.jpg', alt='Frank Meehan, CEO')
                a.contact-team-mail(href="mailto:") Frank Meehan
                p.contact-team-pale-txt CEO, Europe
                p.contact-team-phone +44 7860 928953
                a.cbtn.btn-bright(href="#" class="cbtn") frank@smartup.io
            .col-sm-4.text-center
                .contact-team-img-wrap
                    img.img-responsive(src='/images/SmartUp_Photos/David Beath, Head of Marketing.jpg', alt='Anthony Onesto, GM, Americas')
                a.contact-team-mail(href="mailto:") David Beath
                p.contact-team-pale-txt Head of Marketing, USA
                p.contact-team-phone +1 757 335 5961
                a.cbtn.btn-bright(href="#" class="cbtn") david@smartup.io
            .col-sm-4.text-center
                .contact-team-img-wrap
                    img.img-responsive(src='/images/SmartUp_Photos/Laurence Smith, Head of Asia.jpg', alt='Laurence Smith, Head of Asia')
                a.contact-team-mail(href="mailto:") Laurence Smith
                p.contact-team-pale-txt Head of Asia
                p.contact-team-phone +65 8157 6359
                a.cbtn.btn-bright(href="#" class="cbtn") laurence@smartup.io
                
    section.white-tier.text-center.no-bottom-border
        .container
            .row
                .col-xs-12
                    h3.white-tier-title About smartup
                    p.white-tier-info.text-justify
                        | SmartUp is the ultimate platform for peer-to-peer knowledge creation, sharing and exchange used around the world by 
                        | startup founders, companies, innovators, business schools and curious entrepreneurs. 
                        br
                        br
                        | Conceived and developed by a seasoned team of founders and investors behind Founders Forum, Spotify, Siri, 
                        | lastminute.com and others, SmartUp now hosts more than 150,000 members.
                        br
                        br
                        | SmartUp’s intuitive learning system provides communities engaging and fun ways to contribute and consume bite-sized 
                        | pieces of knowledge and insight. Its powerful platform unlocks your community’s real knowledge to help every member 
                        | unleash their potential.
    .key-people
        .container
            .row
                .col-xs-12
                    h2.text-center.feedback-title Key people
            .row.contact-team
                .col-sm-4.col-sm-offset-2.text-center
                    .contact-team-img-wrap
                        img.img-responsive(src='/images/SmartUp_Photos/Frank Meehan, CEO.jpg', alt='Frank Meehan, CEO')
                    a.contact-team-mail(href="mailto:") Frank Meehan
                    p.contact-team-pale-txt Co-Founder & CEO
                    .col-xs-3.col-xs-offset-3
                        a.cbtn.btn-dark.btn-bio(href="https://uk.linkedin.com/in/frankmeehan" class="cbtn") BIO
                    .col-xs-3                     
                        a.cbtn.btn-dark.btn-images(href="https://www.dropbox.com/sh/j4ezy3y38clzhhh/AAAuk6UoTQPaQcurwUcfNHuBa/Frank%20Meehan%20-%20Images%20%2B%20Bio?dl=0" class="cbtn") IMAGES
                .col-sm-4.text-center
                    .contact-team-img-wrap
                        img.img-responsive(src='/images/SmartUp_Photos/Brent, Co-Founder & Chairman.jpg', alt='Brent Co-Founder & Chairman')
                    a.contact-team-mail(href="mailto:") Brent
                    p.contact-team-pale-txt Co-Founder & Chairman
                    .col-xs-3.col-xs-offset-3
                        a.cbtn.btn-dark.btn-bio(href="https://uk.linkedin.com/in/brenthoberman" class="cbtn") BIO
                    .col-xs-3
                        a.cbtn.btn-dark.btn-images(href="https://www.dropbox.com/sh/j4ezy3y38clzhhh/AABf2r3vJwXJyGTG_osIFgY1a/Brent%20Hoberman%20-%20Images%20%2B%20Bio?dl=0" class="cbtn") IMAGES
                
    
    section.white-tier.text-center.no-bottom-border
        .container
            .row
                .col-xs-12
                    h3.white-tier-title Latest press release
                    p.white-tier-info.text-center.coming-soon
                        | <i>Coming Soon!</i>
                        
    section.white-tier.text-center.white-tier-press.media-assets.no-bottom-border
        .container
            .row
                .col-xs-12
                    h3.white-tier-title Media assets
            .row
                .col-sm-4
                    .media-asset-wrap
                        img(src='/images/media_asset_3.png', class="img-responsive", alt='Logo')
                        .media-asset-footer
                            p.media-asset-title
                                a(href="https://www.dropbox.com/sh/fjjam05wwzbycj7/AABo5uTAVplguis5ZvSsZ89Ra?dl=0") Logo
                            p.media-asset-bottom
                                | SVG, PDF</a>, PNG
                .col-sm-4
                    .media-asset-wrap
                        img(src='/images/media_asset_1.png', class="img-responsive", alt='Web Screenshots')
                        .media-asset-footer
                            p.media-asset-title
                                a(href="https://www.dropbox.com/sh/cl8f52zzkf788ss/AAAmO1O9xWUYjm_uRXYBVbvya?dl=0") Mobile Screenshots
                            p.media-asset-bottom
                                | PNG 1440x900 @2x
                .col-sm-4
                    .media-asset-wrap
                        img(src='/images/media_asset_2.png', class="img-responsive", alt='Mobile Screenshots')
                        .media-asset-footer
                            p.media-asset-title
                                a(href="https://www.dropbox.com/sh/cl8f52zzkf788ss/AAAmO1O9xWUYjm_uRXYBVbvya?dl=0") Web Screenshots
                            p.media-asset-bottom
                                | PNG 640x960 @2x
                        
    section.white-tier.text-center.white-tier-press.no-bottom-border
        .container.featured-press
            .row
                .col-xs-12
                    h3.white-tier-title Featured press

            .row.row-flex
                .col-flex.col-flex-15
                    img(src="/images/featured_press_fc.png", class="img-responsive", alt="SmartUp Listed InThe 25 Best Free iPhone Apps For Business")
                .col-flex.col-flex-60
                    .featured-press-text
                        h5 SmartUp Listed In The 25 Best Free iPhone Apps For Business
                        p
                            | Hammer business fundamentals with SmartUp. The app features new 
                            | content every day, consisting of quizzes, games, case studies, and more 
                            | that cover entrepreneurship and innovation. 
                .col-flex.col-flex-25
                    a(href="https://www.fastcompany.com/3055902/app-economy/the-25-best-free-iphone-apps-for-business", class="cbtn btn-dark") Read more
            .row.row-flex
                .col-flex.col-flex-15
                    img(src="/images/featured_press_tc.png", class="img-responsive", alt="SmartUp has plans to shake up the changing MBA market")
                .col-flex.col-flex-60
                    .featured-press-text
                        h5 SmartUp App Virtually Mentors New Entrepreneurs And Could Lead To Funding
                        p
                            | But there is a twist. The app builds up a proﬁle of the user by asking the 
                            | same questions investors and mentors would if they were advising them in 
                            | person. The aim is to deliver insights and advice to help the users make 
                            | better decisions. 
                .col-flex.col-flex-25
                    a(href="https://techcrunch.com/2015/06/29/smartup-app-virtually-mentors-new-entrepreneurs-and-could-lead-to-funding/", class="cbtn btn-dark") Read more
            .row.row-flex
                .col-flex.col-flex-15
                    img(src="/images/featured_press_ft.png", class="img-responsive", alt="Edtech providers move from Moocs to social networking")
                .col-flex.col-flex-60
                    .featured-press-text
                        h5 SmartUp has plans to shake up the changing MBA market
                        p
                            | According to Frank Meehan, chief executive of SmartUp. “We don’t just 
                            | want the elite to be able to access business education,” he says. “We think 
                            | it should be open to the 24-year-old in Bangalore looking to start a 
                            | company himself who is nowhere near a business school but has a 
                            | smartphone.” 
                .col-flex.col-flex-25
                    a(href="https://www.ft.com/content/f6986c76-52c8-11e4-a236-00144feab7de", class="cbtn btn-dark") Read more
            .row.row-flex
                .col-flex.col-flex-15
                    img(src="/images/featured_press_ft.png", class="img-responsive", alt="Edtech providers move from Moocs to social networking")
                .col-flex.col-flex-60
                    .featured-press-text
                        h5 Edtech providers move from Moocs to social networking
                        p
                            | Companies such as SmartUp hope to provide an alternative to this style 
                            | of teaching by providing a format more akin to social networking.  Mr 
                            | Meehan explains the app focuses on the need for investors, start-ups and 
                            | corporations to ﬁnd out and showcase what people actually know. 
                .col-flex.col-flex-25
                    a(href="https://www.ft.com/content/1f3b2402-cb3b-11e5-a8ef-ea66e967dd44", class="cbtn btn-dark") Read more
                    
    section.white-tier.text-center.white-tier-press.no-bottom-border.no-bottom-padding
        .container
            .row
                .col-xs-12
                    h3.white-tier-title Join SmartUp for yourself
                    p.white-tier-info.text-center
                        | If you're looking to experience SmartUp for yourself, check out our free open communities below.  
        section.marketing-options.text-left.marketing-options-white
          .container
            .row
              .col-xs-12
                  .row.row-flex
                    .col-flex
                      a(href="#")
                        img.img-responsive(src='/images/launch_bright.png')
                      .marketing-option-info.marketing-option-info-home
                        .marketing-option-info-home-wrap
                            h4 <a href="#0">Launch</a>
                            p
                              | The startup community for entrepreneurs and innovators everywhere. 
                              | Test and improve your startup knowledge with insights and qiuzzes from top founders, 
                              | investors and journalists Founders is the original SmartUp community.
                        // a.marketing-option-link(href='#')
                        //   i.fa.fa-arrow-circle-o-right
                        //   |  Join
                    .col-flex
                      a(href="#0")
                        img.img-responsive(src='/images/elevate_bright.png')
                      .marketing-option-info.marketing-option-info-home
                          .marketing-option-info-home-wrap
                            h4 <a href="#">Elevate</a>
                            p
                              | The innovation community for visionaries and mavericks 
                              | in mature businesses. Find the tools and insights that 
                              | will help you innovate regardless of where you work 
                              | and what you do.
                        // a.marketing-option-link(href='#')
                        //   i.fa.fa-arrow-circle-o-right
                        //   |  Join