extends layouts/default
block content
    .container.pricing-container
      .row.text-center
        .col-xs-12
          h2.pricing-main-title Pricing guide
          
      .row.pricing-row
        section.pricing-section.col-md-3.col-sm-6.col-sm-offset-3.col-xs-12.col-md-offset-0
          h3.pricing-title INDIVIDUAL
          .pricing-box.pricing-min-height
            header.pricing-header.text-center
              p.pricing-top-txt Join a Community
              .pricing-value <span class="pricing-value-sign">$</span><span class="pricing-value-number">0</span> / mo
              p.pricing-desc
                Joining a public open community is easy and free, forever
            .text-center
              a.cbtn.btn-dark.pricing-btn(href="/find_community/") BROWSE COMMUNITIES
              p.pricing-info
                | Joining a community as an <strong>Individual</strong> gives 
                | you access to all these awesome features
            ul.pricing-features
              li Unlimited access to all public content on our open communities
              li The ability to create content and share knowledge within our open communities
              li Show what you know and build your personal knowledge proﬁleve
              li Unlimited access to all SmartDoc formats to get you started creating content
              li Digital guides to creating content using our SmartDoc format
              
        section.pricing-section.col-md-3.col-sm-6.col-sm-offset-3.col-xs-12.col-md-offset-0
          h3.pricing-title.pricing-middle-margin BUSINESS
          .pricing-box.highlighted
            header.pricing-header.text-center
              p.pricing-top-txt Internal <strong>Private</strong> Communities for 1-1000 people
              .pricing-value <span class="pricing-value-sign">$</span><span class="pricing-value-number">5</span> user / mo
              p.pricing-desc
                | Great for teams and small to medium-sized businesses and enterprises 
                | looking to pilot smartup.<br><br><span class="pricing-pale">$5, per user, per month, billed annually.</span>
            .text-center
              a.cbtn.btn-dark.pricing-btn(href="/request/") REQUEST COMMUNITY
              p.pricing-info
                | <strong>Private</strong> includes the same experience
                | as <strong>Individual</strong> for all your members, and:
            ul.pricing-features
                li A private community for your team or company, accessible only to people that you invite
                li Invite anyone within your communities to create content
                li Your own white label community URL
                li Web version
                li Leaderboards for your communities and channels
                li Invite anyone to create content in your community
                li Digital guides to creating content using our SmartDoc format
                li Email support with the SmartUp Helpdesk for technical issues
                li Moderator and admin content controls
                li Basic Analytics and data on your communities
            // footer.text-center
            //   p.pricing-footer-desc
            //     SmartUp provides packages for universities, schools and colleges to set up private communities.
            //   a.cbtn.btn-bright.pricing-btn(href="get_in_touch.html") GET IN TOUCH
            //   p.pricing-footer-desc
            //     Additional content services are available through smart.
            //   a.cbtn.btn-bright.pricing-btn(href="contact.html") CONTACT US
            
        section.pricing-section.col-md-3.col-sm-6.col-sm-offset-3.col-xs-12.col-md-offset-0
          .pricing-box.pricing-top-margin.pricing-min-height
            header.pricing-header.text-center
              p.pricing-top-txt Internal Private <strong>Enterprise</strong> Communities
              .pricing-value 
                a(href="/contact/").pricing-value-txt Custom
              p.pricing-desc
                | A customizable, affordable and scaleable knowledge 
                | platform that's simple for large companies to implement
            .text-center
              a.cbtn.btn-dark.pricing-btn(href="/get_in_touch/") GET IN TOUCH
              p.pricing-info
                | <strong>Enterprise</strong> includes everything in <strong>Private</strong>, and:
            ul.pricing-features
                li
                  | An private community for your more than 
                  | 1000 people within your company, accessible only to 
                  | the people that you invite
                li Enterprise grade cloud security
                li Dedicated tech support backed by service level agreements
                li SSO for authentication
                li Content can be integrated into most modern LMS
                li Customizable Analytics via our web-based analytics package
                li Data feed for your internal analytics and/or LMS systems
            
        section.pricing-section.col-md-3.col-sm-6.col-sm-offset-3.col-xs-12.col-md-offset-0
          .pricing-box.pricing-top-margin.pricing-min-height
            header.pricing-header.text-center
              p.pricing-top-txt
                External <strong>External</strong> Interactive Learning and Marketing Communities
              .pricing-value
                a(href="/contact/").pricing-value-txt Custom
              p.pricing-desc
                | Great for companies with large groups of 
                | customers or partners looking to provide 
                | a unique, engaging and scaleable 
                | knowledge sharing experience.
            .text-center
              a.cbtn.btn-dark.pricing-btn(href="/get_in_touch/") GET IN TOUCH
              p.pircing-info <strong>External</strong> includes everything in <strong>Enterprise</strong>
            footer.text-center
              p.pricing-footer-desc
                | External is managed by an internal
                | team, but it is intended to engage 
                | people outside of your organization.
    
    
    .container.pricing-container
      .row
        .col-sm-8.col-sm-offset-2
          p.pricing-bottom-text.text-center
            | SmartUp provides packages for universities, schools and colleges to set up private communities. <a href="get_in_touch.html">Get in Touch </a><br><br>
            | Additional content services are available through smartup. <a href="contact.html">Contact Us</a>
    
    section.get-in-touch
      .container
        .row
          .col-sm-10.col-sm-offset-1
            p.text-center
              | Join more than 150,000  happy customers including:
      .container
        .get-in-touch-partners.row-flex
          .col-flex
            img.img-responsive(src='/images/hong.png', alt='hong leong bank')
          .col-flex
            img.img-responsive(src='/images/jil.png', alt='jil')
          .col-flex
            img.img-responsive(src='/images/linde.png', alt='linde')
          .col-flex
            img.img-responsive(src='/images/maxis.png', alt='maxis')
          .col-flex
            img.img-responsive(src='/images/dbs.png', alt='dbs bank')