extends layouts/default
block content
    .container.terms
      .row
        .col-xs-12
          h2 Privacy Policy
          |               
          |               
          p
            | SmartUp.io is a micro learning knowledge service and platform that allows users to create different types of communities to connect, share and collaborate knowledge and skills.  It is owned and operated by SmartUp.io Limited a company registered in England with address 2 Temple Back East, Temple Quay, Bristol, BS1 6EG.  We are committed to looking after your data and demonstrating our commitment to privacy &ndash; and will only collect and process personal data in accordance with applicable laws and regulations. Our Privacy Policy tells you how your personal data is being looked after by us. A fundamental privacy principle of ours is that your private communities are private.
          |               
          |               
          p
            | When you access or use SmartUp, (whether through our app, website or any white labelled product) you agree to our Privacy Policy and you consent to our collection, storage, use and disclosure of your personal information as we have set out in this Policy.   Alert! We are still in testing phase!
          |               
          |               
          h3
            b 1. SIGN UP PROCESSES FOR COLLECTION OF INFORMATION
          |               
          h4
            b Organisation Affiliated User
          |               
          |               
          p
            b 1.1.
            |  If your organisation makes SmartUp available to you (such as using it in a workplace or you have been issued an account by your employer or organisation) then you are part of a Team Affiliated Network: we provide the Services to your Team Affiliated Network and your Team Affiliated Network will provide and control your SmartUp user account. This means:
          |               
          ul
            li
              | your Team Affiliated Network has its own policies about storage, access, deletion, modification and retention of data (such as your content and communications through SmartUp) which may apply to your use of SmartUp.
            |                   
            li
              | your Team Affiliated Network has its own policies about storage, access, deletion, modification and retention of data (such as your content and communications through SmartUp) which may apply to your use of SmartUp.
            |                   
            li
              | Your Team Affiliated Network owns all information you submit to SmartUp or which is provided by your Team Affiliated on SmartUp.
            |                   
            li
              | Your Network is responsible for obtaining your consent to data processing on SmartUp.
            |                   
            li
              | We process your data on behalf of your Team Affiliated Network and in accordance with your Network&rsquo;s instructions - and this means that on sign up to SmartUp, SmartUp creates an account for you on behalf of your Team Affiliated Network; and your Network may collect your personal information and share it with SmartUp (in accordance with applicable laws) in order to complete the SmartUp on-boarding process. You hereby consent to such data sharing.
          |               
          p
            | PLEASE NOTE: We are not responsible for any policies set by your Network or any actions taken by your Network in relation to your data on the SmartUp Platform.
          |               
          |               
          h4
            b Unaffiliated User
          |               
          |               
          p
            b 1.2.
            |   If you are an Unaffiliated User, SmartUp provides the Services directly to you, you control your account including all information and personal data shared through your SmartUp account.
          |               
          p
            b 1.3.
            |  When you post information about yourself on your SmartUp profile and communicate with other users, the amount of personal information you share is at your own risk.  If you are part of a Team Affiliated Network, please ensure you comply with their policies. If you post anything that is inconsistent with our Terms or Privacy Policy, we reserve the right to suspend or terminate your account.
          |               
          p
            b 1.4.
            |  SmartUp is not directed to children under 13. If it comes to your attention that a minor child has provided any personal data without a parental or guardian consent, please email us and we will remove the account immediately.
          |               
          |               
          |               
          h3
            b 2. COLLECTION OF INFORMATION
          |               
          |               
          p
            b 2.1.
            |  Within each SmartUp community there are different roles and privileges &ndash; it works like this: Owner &gt; Community Manager&gt; Community user.
          |               
          p
            b 2.2.
            |  Owners establish the SmartUp Community for the particular learning purpose and have the ability to control their Community&rsquo;s settings. Community Managers are provided the rights by the Owners to manage the teams, and Community Users are invited to join these teams. All Owners, Community Managers and Community users can view all content posted in the particular Community they are invited to join.
          |               
          p
            b 2.3.
            |  When you download the app or use the desktop application and create an account, by providing us with your personal data, we collect certain information about you and your Team Affiliated Network.
          |               
          p
          b 2.4.
          |  Data we collect on sign up to SmartUp includes:
          p
          |               
          ul
            li Your email and IP address
            |                   
            li Contact information including your full name
            |                   
            li Username and password
            |                   
            li
              | Any work information provided to SmartUp during the on-boarding process, such as work title, department information, e.t.c.
            |                   
            li
              | Friends lists for social media accounts that may connect to your SmartUp account (this could include for example Google, Facebook LinkedIn and Twitter).  Remember that when you register through a social media account you are also giving them personal information, so we recommend that you read their privacy policies as SmartUp does not control how they use their information.
          |               
          p
            b 2.5.
            |  Data we collect during the course of using our SmartUp includes:
          |               
          ul
            li
              | All content that you create, upload or share in any files which are permitted and you provide through SmartUp
            |                   
            li Communications with other users of SmartUp
            |                   
            li
              | If you purchase a license plan from SmartUp, our third party payment processors will collect and store your billing address and credit card information.
            |                   
            li
              | information from our third party partners for some of the purposes described in Section 3.1 below.
          |               
          p
            b 2.6.
            |  We may use cookies and similar technologies to automatically collect the information described in section 2.4 above
          |               
          p
            b 2.7.
            |  If you are not signed up to SmartUp and just visit our site, we will place session ID cookies on your computer &ndash; please see section 4 on Cookies below.
          |               
          |               
          h3
            b 3. HOW SMARTUP USES THE INFORMATION
          |               
          p
            b 3.1.
            |  We collect, process and use your information to develop and improve the SmartUp services on your and your Team Affiliated Network&rsquo;s behalf. This includes using the information to:
          |               
          ul
            li
              | Provide the SmartUp service and allow content to be created, uploaded posted and shared;
            |                   
            li
              | Research on how to improve our product &ndash; we use data about usage to improve our product. We will, to the extent possible, use aggregated and anonymized data for such purposes;
            |                   
            li Communicate with users regarding their use of SmartUp;
            |                   
            li
              | Enhance the security and safety of SmartUp for you, your Team Affiliated Network and other users;
            |                   
            li
              | Develop a personalized SmartUp user experience as part of our services including content for various public channels;
            |                   
            li Solving any problems and using your information to try and resolve it;
            |                   
            li In product communications as and when these become available;
            |                   
            li
              | Email notifications such as changes to our services, any security or fraud information &ndash; or notifications regarding new product features or news (you can opt out of these latter sorts of emails); and
            |                   
            li
              | We may also use material that you post on the open access areas of SmartUp for native advertising.
          |               
          |               
          p
            b 3.2.
            |  SmartUp may introduce a feature to allow you to upload your address book into SmartUp either by sending an email invitation from SmartUp in your name or maybe via an SMS to your contacts to get them to sign up.  This will mean we store this confirmation and use it to help you grow and use SmartUp best by growing your Communities &ndash; we would identify your contacts who are already SmartUp users, and provide you with a template to send invitations on your behalf to your contact who are not yet SmartUp users and possibly suggest people you may know but are not yet connected with you on our services.  When you send an invitation to another individual already a SmartUp user or in order to invite them to join our service, that person may have access to your email address. We may after sending such invitations remind your invitees of your invitation on your behalf. You are responsible for ensuring that your friend has agreed to receiving a SmartUp invite.
          |               
          |               
          h3
            b 4. COOKIE USAGE
          |               
          |               
          p
            b 4.1.
            |  We use cookies and similar technologies such as access tokens so we recognize you when you return to our Services. We use them in different ways such as to authenticate your registration process, ensure site functionality and enable us to provide the services to our SmartUp users.
          |               
          p
            b 4.2.
            |  When you visit the publicly available sections of SmartUp, a session ID cookie is placed on your computer that only lasts while you&rsquo;re visiting. We also place persistent cookies (known as a local storage devices) on SmartUp community members&rsquo; computers, so that SmartUp remembers them and makes their login experience easier. We may use persistent tracking cookies on your mobile device, mainly for security protection purposes, such as to prevent phishers, scammers, unauthorised log in attempts, and to help you access your hacked account. We do not use any information whilst you are logged off.
          |               
          p
            b 4.3.
            |  You may set your browser and your mobile settings to block cookies and local storage devices, but if you do so, you may not be able to access the features that SmartUp offers.
          |               
          p
            b 4.4.
            |  The type of cookie usage includes:
          |               
          ul
            li
              | those that are strictly necessary to deliver the services and products you have requested, such as, for example purchasing a certain type of licence;
            |                   
            li
              | cookies related to the performance of SmartUp&rsquo;s site, such as analytics that help us determine how our site is performing and ensuring a smooth and trouble free experience for our members and visitors;
            |                   
            li
              | cookies related to the functionality of SmartUp&rsquo;s site, such as remembering your log in, and third party cookies that also relate to functionality and that you request via social plugins, links to other social networks or viewing of videos
          |               
          |               
          p
            b 4.5.
            |  SmartUp&rsquo;s cookie functions and explanations below:
          |               
          ul
            li
              | Analytics and research: SmartUp uses Flurry Analytics to collect information about how visitors use SmartUp. We use the information to compile reports and to help us improve the site. The cookies collect information in an anonymous form, including the number of visitors to the site, where visitors have come to the site from and the pages they visited. For more information about Google&rsquo;s privacy policy, please visit&nbsp; 
              a(href='http://www.google.com/intl/en/policies/') http://www.google.com/intl/en/policies/
            |                   
            li
              | Authentication: These cookies help us to identify our members so that when you&rsquo;re logged in, you can enjoy SmartUp&rsquo;s products and services.
            |                   
            li
              | Security and site integrity: We may use persistent cookies, which will help us to ensure we have identified the same device is logging into the correct account. These types of cookies also help with our anti-spam measures and may help us to prevent phishers, scammers, unauthorised log -in attempts to your account and accessing any hacked accounts.
            |                   
            li
              | Site features and services: In some cases, the site feature you choose may allow a third party to place cookies or local storage devices on your computer. The third party who places cookies on your device is responsible for how they process their data and SmartUp recommends that you read their privacy policies. Third parties who place cookies on your device when you use SmartUp include (but is not limited to) Branch.io, Flurry Analytics, Facebook, LinkedIn and Google platforms.
            |                   
            li
              | Performance: We need to use certain cookies and local storage devices to assist with your navigation of our site, ensuring pages load up quickly and respond faster to requests for services.
          |               
          |               
          p
            b 4.6.
            |  Our use of cookies and local share devices may change from time to time. Please see this page and our homepage to be aware of the changes.
          |               
          p
            b 4.7.
            |  Please look at your browser and mobile device for settings on controlling cookies. We do not control these choices offered by your browser/mobile device makers.
          |               
          |               
          h3
            b 5. YOUR INFORMATION CHOICES
          |               
          p
            b 5.1.
            |  SmartUp is a team and community centred platform allowing each community to enjoy the best content most relevant to each member. Each owner has the maximum control over their communities&rsquo; options and has the ability to control who can view content as well as the privacy options for the Community. Some SmartUp Community Users will not have the same rights as the Community Manager or Owners.
          |               
          p
            b 5.2.
            |  PLEASE NOTE &ndash; SMARTUP HAS NOT CONTROL OVER THE COMMUNITY PRIVACY OPTIONS SO PLEASE CHECK THESE CAREFULLY BEFORE ACCEPTING AN INVITATION TO JOIN A COMMUNITY.
          |               
          |               
          h4
            b Unaffiliated User
          |               
          p
            b 5.3.
            |  You may deactivate your account and leave your SmartUp Community at any time. The options to delete data depends on the options selected by your Community Owner and Community Manager and in all cases you will have the right to delete your personal data.
          |               
          p
            b 5.4.
            |  When you produce content, you can decide if you want to post it to your SmartUp Community or not. Whether your content is posted to all SmartUp members or just your SmartUp Community depends on the settings and product chosen by your SmartUp Community Owner.
          |               
          p
            b 5.5.
            |  You can share your content externally by creating a publically accessible link to your Content. Content can be deleted by your Community Owner.
          |               
          p
            b 5.6.
            |  If you are a Community Manager or Community Owner: You have the keys to managing your SmartUp community settings. This means you can decide who to designate a Community Manager, and who can be invited to join your SmartUp Community. You can also remove SmartUp users and decide what content can and cannot be posted to the Community. You can also permit what Content can be exported and downloaded.
          |               
          h4
            b Team Affiliated Network
          |               
          p
            b 5.7.
            |  We maintain your SmartUp work account on behalf of your Team Affiliated Network. If you would like to stop using SmartUp you should contact your Team Affiliated Owner. If you stop working for a Team Affiliated Network (e.g. your workplace), your Network may suspend or terminate your SmartUp account as well as delete or retain any associated data.
          |               
          p
            b 5.8.
            |  Content you provide on SmartUp is akin to content you would provide in your normal course of work &ndash; and so that content is owned and controlled by your Team Affiliated Network meaning even if you leave your Team Affiliated that content may still be accessible and available on SmartUp.
          |               
          |               
          h3
            b 6. DISCLOSURE OF DATA
          |               
          p
            b 6.1.
            |  Save as described in this section and policy, SmartUp will never sell, share or transfer any SmartUp users&rsquo; personal information without their consent.
          |               
          p
            b 6.2.
            |  SmartUp may share your information and communications in accordance with this privacy policy. Team Affiliated Networks that use SmartUp will have their own policies for sharing of data on platforms such as SmartUp so please consult those.
          |               
          p
            b 6.3.
            |  SmartUp may share and disclose information that we collect through our agreement with you and/or your Team Affiliated Network&rsquo;s instructions, in the following circumstances:
          |               
          ul
            li
              | To your Team Affiliated Owners and Community Managers authorised by your Network to access the requested information when you have a Team Affiliated account.
            |                   
            li
              | To third-party service providers (for example payment processors, hosting providers, or other consultants to provide content) or service providers that are in the United States and in other countries where such service providers assist in providing the Services or part of the Services;
            |                   
            li
              | To third-party apps, websites, or other services that you can connect to through SmartUp &ndash; please note these will have their own privacy policies unrelated to SmartUp&rsquo;s so please read those carefully.
            |                   
            li
              | Any third party links posted on SmartUp will be subject to their own privacy policies which SmartUp is not responsible for.
            |                   
            li
              | In the event that SmartUp undergoes a business transition or change of ownership, such as a merger, acquisition by another company, re-organization, or sale of all or a portion of its assets, or in the event of insolvency or administration, we may be required to disclose your personal information.
            |                   
            li
              | To comply with legal process or to protect SmartUp users or SmartUp: SmartUp will cooperate with all law enforcement enquiries and with all third parties to enforce their intellectual property or other rights. We may also disclose your personal information to government or law enforcement agencies or private parties as required by law or where such disclosure is necessary to protect our legal rights, those of third parties and or to comply with a judicial proceeding, court order, or legal process served on us.
            |                   
            li
              ul
                li
                  | If you are a Team Affiliated Network, we will make reasonable attempts to direct the requesting party to seek the data directly from your Network (and will provide your contact information to the requesting party) to the extent legally permissible. We will also direct any request for information under data protection laws to your Team Affiliated Network unless prohibited by law.
                |   
                |                         
                li
                  | If you are an Unaffiliated User we may access, preserve and disclose your information in respect of a legal request or to address fraud, security or technical issues or to protect SmartUp&rsquo;s rights or property.
          |               
          p
            b 6.4.
            |  We may share aggregated information with parties that includes your personal information (but which does not identify you directly) together with other information including log data with third parties for industry analysis to deliver targeted advertising about other products and services. Third party advertisers may use information about your visit to SmartUp and other websites to provide advertisement about goods and service of interest of you. If you would like more information about this practice and to know your choices about not having this information used by these companies, please visit this page (http://www.networkadvertising.org/choices/).
          |               
          p
            b 6.5.
            |  If you choose to, we may share your information with vendors, service providers, and other carefully selected third parties to improve our services to you, such as by facilitating payments. We ensure these parties must adhere to strict data protection and confidentiality provisions that are consistent with this Privacy Policy.
          |               
          h3
            b 7. MODIFYING TYPE OF ACCOUNT
          |               
          p
            b 7.1.
            |  In the event you wish to alter your information provided to SmartUp during the registration process, in due course, you will be able to manually change this yourself in your account. Whilst we work hard on this, please contact us 
            a(href='mailto:support@smartup.io') support@smartup.io
            |  describing what you wish to change and we will swiftly alter this for you.
          |               
          p
            b 7.2.
            |  If you sign up as a Team Affiliated User and create an account, you cannot modify this account to be an Unaffiliated User account. You may however create a new Unaffiliated User account at any time.  You may only remove any Content on your Team Affiliated account with the consent of your Community Owner.
          |               
          p
            b 7.3.
            |  If you sign up as an Unaffiliated User and create an account, you cannot modify this account to be a Team Affiliated Network account.  Any transfer of Content is in your Network Community Owner&rsquo;s sole discretion.
          |               
          p
            b 7.4.
            |  Any SmartUp user has the right to obtain a copy of the personal data that SmartUp holds in relation to your account for a flat fee of &pound;10. Please email us 
            a(href='support@smartup.io') support@smartup.io
            |  to request.
          |               
          |               
          h3
            b 8. SECURITY
          |               
          p
            b 8.1.
            |  We work hard to protect your information and take reasonable steps to protect information you provide as part of your use of SmartUp from misuse, loss and unauthorised disclosure or access.  We use industry standard and up to date technology to safeguard the confidentiality of your personal information such as secured servers using firewalls.
          |               
          p
            b 8.2.
            |  Unfortunately, no website or Internet transmission is ever completely 100% secure and we cannot guarantee that unauthorised access, hacking, data loss or other breaches will never occur.  We cannot guarantee the security of your personal data while it is being transmitted to our site and any transmission is at your own risk.
          |               
          p
            b 8.3.
            |  To help keep your data secure please follow these tips:
          |               
          ul
            li Please make sure you log out of your Account after use
            |                   
            li Please don&apos;t share your password
            |                   
            li Change your password periodically
            |                   
            li
              | If you ever think someone has had access to your password, please report it to either us or the relevant social media platform and change your password immediately. Please email us immediately at 
              a(href='mailto:support@smartup.io') support@smartup.io
          |               
          |               
          p
            b 8.4.
            |  We have stringent procedures in place to monitor our employees&rsquo; access to any community on SmartUp and ensure that such access is only for those that need to in order to, for example, resolve any troubleshooting problems, or assist with content creation. Access by any employees to any private communities is logged.
          |               
          p
            b 8.5.
            |  All of our employees and contractors must comply to our data protection policies in relation to any user data which are strictly adhered to.
          |               
          p
            b 8.6.
            |  In the event of a security breach, SmartUp will promptly notify the Team Affiliated Network Owner of any unauthorised access to the Team Affiliated SmartUp account. SmartUp has incident management policies set up to manage such an event.
          |               
          p
            b 8.7.
            |  WE EXPRESSLY DISCLAIM ANY REPRESENTATION OR WARRANTY, WHETHER EXPRESS OR IMPLIED, WITH RESPECT TO ANY BREACHES OF SECURITY, DAMAGE TO YOUR (INCLUDING ANY NETWORK&rsquo;S) DEVICE, OR ANY LOSS OR UNAUTHORIZED USE OF YOUR (INCLUDING ANY NETWORK&rsquo;S) REGISTRATION INFORMATION OR OTHER DATA.
          |               
          |               
          h3
            b 9. DATA STORAGE
          |               
          |               
          p
            | SmartUp is a global website operating through services located in a number of countries around the world including the United States. If you live in a country with data protection laws, the storage of your personal data may not provide you with the same protections as you enjoy in your country of residence. In using SmartUp Services you expressly consent to the transfer of your personal information and storage and processing of your personal information in any such countries and destinations. Any transfer of data will be for the purposes described in this privacy policy only. SmartUp applies with all applicable laws and has taken all adequate safeguard measures to protect your personal data.
          |               
          |               
          h3
            b 10. YOUR CALIFORNIAN PRIVACY RIGHTS
          |               
          p
            b 10.1.
            |  We comply with Californian laws regarding privacy.  California&apos;s &quot;Shine the Light&quot; law (Civil Code section 1798.83) requires businesses to respond to requests from California customers asking about practices of disclosing personal information to third parties for the third parties&apos; direct marketing purposes. If you wish to find out about any rights you may have under California Civil Code section 1798.83, you can write to us at support@smartup.io. We may disclose your contact information to third parties to allow for marketing of their products or services to you or for other marketing purposes. If you want us to stop further sharing your email contact information with third parties, notify us at support@smartup.io.  Please follow the instructions provided to you by third parties to unsubscribe from their messages. If you have opted-out as described above, and thereafter you chose to use a service or promotion that requires us to contact you or share your information with a third party, then your previous opt-out preferences will not apply to such service.
          |               
          p
            b 10.2.
            |  Operators of online services are required to disclose how they respond to &quot;do not track&quot; signals that provide Unaffiliated Users the ability to exercise choice over the collection of personal information of Unaffiliated Users over time and across third party online services.  We do not currently track our users&apos; personal information over time and across third-party online services. We also do not knowingly permit third parties to collect personal information about an individual User&apos;s online activities over time and across different online services when using SmartUp.
          |               
          |               
          h3
            b 11. CHANGES
          |               
          p
            | SmartUp is a young, fresh and new platform, meaning we are always looking to improve our services we offer. If we introduce new features, we will modify this privacy policy and if we collect substantially new personal information, and materially change how we handle your data we will modify this privacy policy and notify you through the contact details you provide to us, and also on this page.
          |               
          |               
          h3
            b 12. CONTACT US
          |               
          |               
          p
            b 12.1.
            |  Your access to SmartUp as well as this privacy policy are governed and interpreted by the laws of England and Wales other than, other than such laws, rules, regulations and case law that would result in the application of the laws of a jurisdiction other than England and Wales
          |               
          p
            b 12.2.
            |  By using SmartUp you are consenting to the exclusive jurisdiction of the courts of England &amp; Wales. You agree that such courts shall have in personam jurisdiction and venue and waive any objection based on inconvenient forum.
          |               
          p
            b 12.3.
            |  You agree that you will not file or participate in a class action against us.
          |               
          p
            b 12.4.
            |  SmartUp.io Limited is registered with the Information Commissioners&rsquo; Office in the UK with registration number ZA202708
          p
            b 12.5.
            |  If you have a Team Affiliated SmartUp account and have questions on this privacy policy, please contact your Team Affiliated Owner first of all, and they can subsequently contact us.
          |               
          p
            b 12.6.
            |  If you have a Unaffiliated User account and have any questions please email us with any questions at 
            a(href='mailto:support@smartup.io') support@smartup.io