extends layouts/default
block content 
    section.jumbotron.jumbotron-recuiting
      .jumbotron-inner
        .container
          .row-flex
            .col-flex
              p.lead
                | Our peer to peer knowledge sharing
                | platform cuts through the resume, revealing
                | the real knowledge of your prospective hires.
    section.dark-tier
      .container
        .row
          .col-xs-12
            p
              | SmartUp puts knowledge back at the heart of the recruitment process by providing real evidence about what future hires really know, from attraction through to evaluation and selection.
    .separator-bottom
      section.features.feature-page.container
        .col-md-4.col-xs-12
          .col-xs-3
            img.img-responsive(src='./images/folder_thin.svg', alt='eye')
          .col-xs-9
            p.feature-desc
              | Paper and digital resumes are personal branding tools. 
              | Invite potential hires to build a profle of their real 
              | knowledge in your branded knowledge sharing community.
        .col-md-4.col-xs-12
          .col-xs-3
            img.img-responsive(src='./images/people_thin.svg', alt='eye')
          .col-xs-9
            p.feature-desc
              | Build communities that keep future hires engaged with knowledge 
              | beyond the lifetime of a vacancy. Build insights about what the community 
              | really knows, accelerate future hires.
        .col-md-4.col-xs-12
          .col-xs-3
            img.img-responsive(src='./images/arrows_thin.svg', alt='phone')
          |       
          .col-xs-9
            p.feature-desc
              | Position your business as a place where knowledge sharing and learning and personal development are valued.


    section.business-item
      .container-fluid
        .row.row-flex
          .col-flex
            img.img-responsive(src='./images/recruitment_recruitment.png', alt='Community driven recruitment')
          .col-flex.col-flex-content
            .business-item-content
              .col-md-10
                h4.business-item-title Community driven recruitment
                p
                  | Open or private knowledge sharing communities
                  | empower your entire organization to get involved in the 
                  | hiring process and engage with future hires based on job 
                  | role, department or knowledge requirement.
    section.business-item
      .container-fluid
        .row-flex.row
          .col-flex.col-flex-content
            .col-md-10.col-md-offset-1
              .business-item-content.text-right
                h4.business-item-title Shared knowledge unlocks talent
                p
                  | Create learning mandatory, recommended or inspirational 
                  | learning streams. Allow the people in your teams to curate and 
                  | share their own learning playlists with others.
          .col-flex
            img.img-responsive(src='./images/recruitment_knowladge.png', alt='Shared knowledge unlocks talent')
    section.business-item
      .container-fluid
        .row-flex.row
          .col-flex
            img.img-responsive(src='./images/recruitment_inspiration.png', alt='Inspiring competition')
          .col-flex.col-flex-content
            .col-md-10
              .business-item-content
                  h4.business-item-title Inspiring competition
                  p 
                  | Bring gamiﬁcation to the hiring process. Our 
                  | leaderboards identify the most knowledgeable hires and 
                  | inspire them to engage further with your community.
    section.business-item.last
      .container-fluid
        .row-flex.row
          .col-flex.col-flex-content
            .col-md-10.col-md-offset-1
              .business-item-content.text-right
                h4.business-item-title Evidence based recruitment
                p
                  | Remove the ambiguity around future hires. Reviewing individual 
                  | member proﬁles reveals what they ‘really’ know. Admin level 
                  | dashboards reveal what the community really knows. For both, 
                  | the ability to identify and ﬁll knowledge gaps is simple.
          .col-flex
            img.img-responsive(src='./images/recruitment_evidence.png', alt='Evidence based recruitment')

    section.blue-tier
      .container
        .row
          .col-md-10.col-md-offset-1
            p Shared knowledge multiplies engagement
            |       
            p.blue-tier-regular
              | Millennials and those who share their mindset are crying out for new ways 
              | to explore new career opportunities. SmartUp helps you to identify their dreams 
              | by helping see what they&rsquo;re sharing - their knowledge, passions, interests, skills and talents.
 
    section.get-in-touch
      .container
        .row
          .col-xs-12
            p.text-center
              | Join the learning revolution, get in touch and learn how other businesses are helping people
              br
              |  in their organizations to show what they know, why they&rsquo;re doing it and the results they&rsquo;re seeing.
    
      .container
        .get-in-touch-partners.row-flex
          .col-flex
            img.img-responsive(src='images/hong.png', alt='hong leong bank')
          |             
          .col-flex
            img.img-responsive(src='images/jil.png', alt='jil')
          |             
          .col-flex
            img.img-responsive(src='images/linde.png', alt='linde')
          |             
          .col-flex
            img.img-responsive(src='images/maxis.png', alt='maxis')
          |             
          .col-flex
            img.img-responsive(src='images/dbs.png', alt='dbs bank')
      |       
      .container
        .row
          .col-xs-12
            a.cbtn.btn-dark(href='get_in_touch.html') get in touch