extends layouts/default
block content 
    section.jumbotron.jumbotron-recuiting
      .jumbotron-inner
        .container
          .row-flex
            .col-flex
              p.lead
                | Our peer to peer knowledge sharing
                br
                |  platform cuts through the resume, revealing
                br
                |  the real knowledge of your prospective hires.
    section.dark-tier
      .container
        .row
          .col-xs-12
            p
              | SmartUp puts knowledge back at the heart of the recruitment process by providing real evidence about what future hires really know, from attraction through to evaluation and selection.
    |   
    section.features.container
      .col-md-4.col-xs-12
        .col-xs-4
          img.img-responsive(src='./images/folder.svg', alt='eye')
        |       
        .col-xs-8
          p.feature-desc
            | Paper and digital resumes are personal branding tools. Invite potential hires to build a profle of their real knowledge in your branded knowledge sharing community.
      |     
      .col-md-4.col-xs-12
        .col-xs-4
          img.img-responsive(src='./images/peoples.svg', alt='eye')
        |       
        .col-xs-8
          p.feature-desc
            | Build communities that keep future hires engaged with knowledge beyond the lifetime of a vacancy. Build insights about what the community really knows, accelerate future hires.
      |     
      .col-md-4.col-xs-12
        .col-xs-4
          img.img-responsive(src='./images/arrows.svg', alt='phone')
        |       
        .col-xs-8
          p.feature-desc
            | Position your business as a place where knowledge sharing and learning and personal development are valued.
    |   
    section.blue-tier
      .container
        p Shared knowledge multiplies engagement
        |       
        p.blue-tier-regular
          | Millennials and those who share their mindset are crying out for new ways to explore new career opportunities. SmartUp helps you to identify their dreams by helping see what they&rsquo;re sharing - their knowledge, passions, nterests, skills and talents.
    |   
    |   
    section.business-item.business-item-recruiting
      .container-fluid.reveal
        .row.row-flex
          .col-flex.no-left-15
            img.img-responsive(src='./images/community_driven.png', alt='innovation')
          |         
          .col-flex.col-flex-content
            .business-item-content
              h4
                | community driven
                br
                |  recruitment
              |             
              p
                | Open or private knowledge sharing communities empower your entire organization to get involved in the hiring process and engage with future hires based on job role, department or knowledge requirement.
    |   
    section.business-item
      .container-fluid.reveal
        .row-flex.row
          .col-flex.col-flex-content
            .business-item-content.text-right
              h4 shared knowledge unlocks talent
              |             
              p
                | Create learning mandatory, recommended or inspirational learning streams. Allow the people in your teams to curate and share their own learning playlists with others.
          |         
          .col-flex.no-right-15
            img.img-responsive(src='./images/shared.png', alt='training')
    |   
    section.business-item
      .container-fluid.reveal
        .row-flex.row
          .col-flex.no-left-15
            img.img-responsive(src='./images/inspiring.png', alt='employees')
          |         
          .col-flex.col-flex-content
            .business-item-content
              h4 inspiring competition
              |             
              p
                | Bring gamifcation to the hiring process. Our leaderboards identify the most knowledgeable hires and nspire them to engage further with your community.
    |   
    section.business-item.last.reveal
      .container-fluid.reveal
        .row-flex.row
          .col-flex.col-flex-content
            .business-item-content.text-right
              h4 evidence based recruitment
              |             
              p
                | Remove the ambiguity around future hires. Reviewing individual member profles reveals what they &lsquo;really&rsquo; know. Admin level dashboards reveal what the community really knows. For both, the ability to identify and fll knowledge gaps is simple.
          |         
          .col-flex.no-right-15
            img.img-responsive(src='./images/evidence.png', alt='recruitment')
    |   
    |   
    section.get-in-touch
      .container
        .row
          .col-xs-12
            p.text-center
              | Join the learning revolution, get in touch and learn how other businesses are helping people
              br
              |  in their organizations to show what they know, why they&rsquo;re doing it and the results they&rsquo;re seeing.
      |       
      .container-fluid
        .get-in-touch-partners.row-flex
          .col-flex
            img.img-responsive(src='images/hong.png', alt='hong leong bank')
          |             
          .col-flex
            img.img-responsive(src='images/jil.png', alt='jil')
          |             
          .col-flex
            img.img-responsive(src='images/linde.png', alt='linde')
          |             
          .col-flex
            img.img-responsive(src='images/maxis.png', alt='maxis')
          |             
          .col-flex
            img.img-responsive(src='images/dbs.png', alt='dbs bank')
      |       
      .container
        .row
          .col-xs-12
            a.cbtn.btn-dark(href='#0') get in touch