extends layouts/default
block content
  .container.feedback-from
    .row
      .col-xs-12
        h2.text-center.feedback-title Hi, we're looking forward to getting your team up and running on SmartUp.
        p.text-center.feedback-info To make your request for a community, please tell us a little more about you and your company.

    form.contact-form(method='post', action='#', data-redirect='/request_confirm/')
      input(type='hidden', name='form-name', value='request-community')
      .row.feedback-row
        .col-xs-12
          p.contact-top-note ABOUT YOU
        .col-md-4
          .form-group
            label(for='request-username') Your name*
            input#request-username.form-control(type='text', name='name', placeholder='John Doe', required)
        .col-md-4
          .form-group
            label(for='request-email') Your work email*
            input#request-email.form-control(type='email', name='email', placeholder='e.g. johndoe@acmeltd.com', required)
        .col-md-4
          .form-group
            label(for='request-phone') Your telephone number
            input#request-phone.form-control(type='tel', name='phone', placeholder='e.g. +1 555 123 4567')
      .row.feedback-row
        .col-xs-12
          p.contact-top-note ABOUT YOUR ORGANIZATION
        .col-md-4
          .form-group
            label(for='request-organization-name') Your organization's name
            input#request-organization-name.form-control(type='text', name='company', placeholder='Acme', required)
        .col-md-4
          .form-group
            label(for='request-organization-size') Your organization's size?
            select#request-organization-size.form-control(name='request-organization-size')
              option(selected='selected', value='1-25') 1-25
              option(value='26-50') 26-50
              option(value='51-200') 51-200
              option(value='201-500') 201-500
              option(value='501-1,000') 501-1,000
              option(value='1001-5,000') 1001-5,000
              option(value='5001-10,000') 5001-10,000
              option(value='10,000+') 10,000+
        
      .row.feedback-row
        .col-xs-12
          p.contact-top-note ABOUT YOUR COMMUNITY
        .col-md-4
          .form-group
            label.label-double-row(for='request-community-name') What would you like to call your community?
            input#request-community-name.form-control(type='text', name='request-community-name', placeholder='e.g. acmeinnovators')
        .col-md-4
          .form-group
            label.label-double-row(for='request-people-amount') How many people would you like to start in your community?*
            input#request-people-amount.form-control(type='text', name='request-people-amount', placeholder='e.g. 200', required)
        .col-md-4
          .form-group
            label.label-double-row(for='request-community-domain') What web domain would you like for your community?
            input#request-community-domain.form-control(type='text', name='request-community-domain', placeholder='e.g. communityname.smartup.io')
        
      +italicContact
      
      .row
        .col-xs-12.text-center
          button.cbtn.btn-dark(type='submit') REQUEST COMMUNITY
