extends layouts/default
block content 
    .container.terms
      div(clss='row')
        .col-xs-12
          h2 TERMS OF SERVICE 
          p <b>Last Updated:</b> 31 October 2016
          p These Terms apply to all organisations or individuals using SmartUp. Our Terms are a contract between you and Smartup.io Limited, governing your use of SmartUp services, apps, sites, content and products. These Terms, our Privacy Policy and Trade Mark and Copyright Policy will apply whenever you visit SmartUp, whether or not you have chosen to register with us. If you do not accept and agree to the Terms, then you must not use SmartUp! 
          p <b>By accessing, using, registering or receiving any content from SmartUp, you are agreeing and accepting to be bound by our Terms.</b>
          ul
            li
              h3 WHAT IS SMARTUP?
              ul
                li SmartUp is a micro-learning platform accessible by App and by Web, providing the opportunity to create and consume micro-learning content by way of a Software application and Content (such as data, reports, articles, text, images) made available by or on behalf of SmartUp, referred to as the “<b>Services</b>” or “<b>Software</b>”. Your Content, Our Content and User Content is defined below. 
                li We refer to “<b>Communities</b>” – this is a SmartUp group of users identifying with a particular piece of learning or subject and creating a buzz around it (“<b>Communities</b>”). These Communities may be made publically accessible or restricted to a private group of users, depending on the licence plan chosen by you (“<b>Licence Plan</b>”).  Please contact us for more details: <a href="mailto:support@smartup.io">support@smartup.io</a>.
                li SmartUp’s licence plans describe the Services on offer to SmartUp users.  If you sign up to SmartUp without entering into a partnership agreement with us you will automatically be placed onto the free licence plans. You acknowledge and agree that a free licence plan will restrict functionality of the Services (for example, a reduced number of days Content is stored, maximum number of users permitted within a Community and limited ability to create private Communities).
                li SmartUp offers Content Creation Services to help you kick start your Community engagement: please contact us at <a href="mailto:support@smartup.io">support@smartup.io</a>
                li We’re working on a guide to some common Q&As - we will let you know once ready!
                li SmartUp.io Limited is a company registered in England & Wales (with company number 08855163) with registered office at 2 Temple Back East, Temple Quay, Bristol, BS1 6EG.
            li
              h3 REGISTRATION FOR SERVICES AND ACCEPTANCE OF TERMS
              ul
                li There are various ways to sign up for SmartUp’s Services. These Terms apply to every type of SmartUp user. The types of SmartUp users are:
                li “<b>Owner</b>” - this is the primary individual who initially sets up the Service, grants privileges to other users, designates a <b>Community</b> <b>Manager(s)</b> (as defined below), and retains ultimate control over the team they set up within the Services.
                li “<b>Community Manager</b>” – this is the individual who manages, runs and controls a Community on SmartUp, with authority and privileges to grant access rights and invitations to other users, decide if a Community is publically accessible (or private), send Community notifications, publish User Content and more. This role will have been created and assigned by the <b>Owner</b>. 
                li
                  | “Community User” – this is a user:
                  ul
                    li invited by the Owner and/or the Community Manager to join an existing Community already set up in the Service by the <b>Community Manager</b>;
                    li joining a publically accessible Community. 
                  | All users have the right to create <b>User Content</b>, unless this is changed by the <b>Community Manager</b> in settings.
                li “<b>Guest User</b>” - this is a user invited into a specific Community by a <b>Community Manager</b> and has access only to that specific Community.
                li You may only use and become a registered user of SmartUp if you are of the relevant age of majority according to where you live. The Services are not directed at children under 13 who are not permitted to use the Services. If your organisation is a school or you are a teacher and wish to provide use of the Services to your students, we will rely on you to acquire the necessary consents and approvals from the relevant parents or guardian of any student and you may not use the Services unless such laws have been complied with.
                li In order to start the registration process, the process for all users is:
                li You as an Owner will identify a Community Manger and Community Users by way of an email address and password for your SmartUp Community. 
                li The Owner and/or Community Manager may then invite a maximum amount of users (in accordance with Your Licence Plan) to join the Community. You may also designate authority to the Community Manager to run the Community. The Owner (or Community Manager should you so elect) has the sole right to set permissions for Community Users.
                li You acknowledge the Services are still in build phase and, as a result, may contain technical errors, or, may not work correctly.  Please notify us any faults at <b>support@smartup.io</b>
            
              h4 Unaffiliated User
              ul
                li
                  p To create a SmartUp Unaffiliated User personal profile (“Personal Account”), you can sign up via a one of our partner sites (such as LinkedIn or Facebook which have their own separate terms of use you should read carefully). If you have signed up via your own personal email account, your account activity remains private to you and Your Content (as defined below) belongs to you, in accordance with these Terms. On sign up, you consent to us processing your personal data in accordance with our Privacy Policy. 
                li
                  p You have the ability to create your own Communities, designate Community Managers and invite Community Users to join the Services. 
                li
                  p If you already have an SmartUp Profile through a Team Affiliated Network and wish to set up your own Unaffiliated User Personal Account, you can set up an independent Personal Account. We will not link the two accounts. You may only import Your Content to your Personal Account with the consent of your Team Affiliated Network Owner/Community Manager, in their sole discretion.  Please contact your Community Manager or Owner obtain the necessary permissions.
              
              h4 Network Affiliated User 
              ul
                li
                  | If you are entering into these Terms on behalf of a legal entity (“Network Leader”) such as an institution, company or organisation (referred to as a Team Affiliated Network), you as the Network Leader represent you have authority to bind such company, organisation, institution or entity (generically referred to as a “Network”), its Owners, Community Managers, Community Users and its affiliates to these Terms. In that case, the terms ‘you’ or ‘your’ shall also refer to its Owners, Community Manager, Community Users and its affiliates, as applicable.
                  ul
                    li If you are providing a work email address and invited to join by a Community Manager/Owner you accept that the owner of the domain email, such as the Owner, may obtain access to all of your current account activity on SmartUp via your work registration process. We provide Services to your Team Affiliated Network, who will control and provide your SmartUp account. If you have any questions, you must direct these to your Team Affiliated Network Owner or Community Manager.  
                li The Team Affiliated Owner is exclusively responsible for ensuring each user that joins a Team Affiliated Network has provided consent to receiving the invitation, using the Services, and complying with its Network’s relevant policies.
                li You warrant each time you use the Services, you will comply with your Team Affiliated Network’s policies, guidelines and processes in relation to the Content you provide to SmartUp and activities you carry out on SmartUp.  
                li If you have already set up a SmartUp Personal Account before you are invited to join a Team Affiliated Network on SmartUp, your Personal Account will be separate to your Team Affiliated Network account. We will not import Your Content from one to the other without the prior consent of the Team Affiliated Network Owner. 
            li
              h3 CONDITIONS FOR ACCESS AND USE OF THE SERVICES
              ul
                li SmartUp is all about Content - we want all users to contribute as much Content as possible! Here are the types of Content that you will be able to access and or provide:  
                li Content you provide ("Your Content");
                li Content we, SmartUp, provide ("Our Content"); and
                li Content other SmartUp users provide (“User Content”).
              p ‘Content’ means any articles, information, documents, materials, photographs, text and data that you, us, or any other SmartUp user creates, publishes, links, customises, stores or sends in connection with the Services. 
              p We have some terms we would like all our users to abide by so SmartUp can be the best platform for everyone. Any questions let us know <a href="mailto:support@smartup.io">support@smartup.io</a>
              ul
                li Warranties: 
              p As Network Leader you represent and warrant to SmartUp on behalf of your Network:
              ul
                li you have obtained all permissions, licences, rights and releases needed to interact, post and publish any of Content on SmartUp and no other consents or releases are required for you or your Network to engage.
              p If you are a Network Leader, an Affiliated User or an Unaffiliated User, you represent and warrant to SmartUp:
              ul
                li Your Content and interaction on SmartUp and in connection with the Service as well as SmartUp’s exercise of all rights and licenses granted by you in these Terms, do not and will not infringe any third party’s intellectual property, such as any third party’s copyright, trade mark, right of privacy;
                li Your Content and interaction on SmartUp and in connection with the Service does not and will not contain anything unlawful or illegal; and 
                li You comply and will continually comply with our <b>Content Rules</b> and <a href="copyright.html">Trade Mark and Copyright Policy.</a>
                li.underline <b>Content Rules</b>
                li Our Content is the only Content we are responsible for.  
                li You are responsible for Your Content, your use of any User Content or Our Content and any communications you post.
                li Please publish anything you own the rights to; you assume all risks related to Your Content you post, including someone else’s reliance on its accuracy, or claims relating to intellectual property or other legal rights.
                li If you find any offensive, inappropriate, or unlawful Content, we are not responsible for this (or any conduct, online or offline). You acknowledge that SmartUp has the right (but not the obligation) to pre-screen, refuse or remove any of Your Content or User Content made available on the Services for any reason. This may include us reviewing Your or User Content that is publically visible to ensure it complies with our policies and guidelines in response to a complaint or alleged breaches of the Terms.  We may, in our sole discretion, review Your or User Content transmitted through private communities in response to a complaint or alleged breaches of the Terms. 
              p
                | <span class="underline">Please do not:</a>
                ul
                  li Post any Content that is illegal, defamatory, libelous, or infringes the rights of any use or other third party or SmartUp’s intellectual property rights or of any third party. This include trade secrets, copyrights, privacy rights, or other proprietary rights.
                  li Do not share anything you do not have permission to share. This could include, for example, Content belonging to your employer, but you have not gained consent to re-post. Please check who you should credit as the author in the event you do gain permission to share someone else’s Content. 
                  li Send or post or transmit Content relating to unapproved commercial activities including without limitation sales, advertising, spam or junk email.
                  li Post any Content which contains language which could be deemed offensive or is likely to harass, upset, embarrass, alarm or annoy any other person, is abusive, insulting or threatening, or which promotes or encourages racism, sexism, hatred or bigotry, or is otherwise objectionable.
                  li Encourage any illegal activity.
                  li Use the Services to harm a minor in any way.
                  li Disguise the origination of any data or Your Content.
                  li Upload, post, transmit or otherwise make available any of your data or Your Content you do not have the right to make available under any law or contractual or fiduciary relationship, such as but not limited to confidential or proprietary information disclosed as part of employment relationships. 
                  li Contains any spy ware, adware, viruses, corrupt files, worm programs or other malicious code designed to interrupt, damage, destroy or limit the functionality of or disrupt any Software, hardware, telecommunications, networks, servers or other equipment, Trojan horse or any other material designed to damage, interfere with, wrongly intercept or expropriate any data or personal information whether from SmartUp or otherwise.
                  li Modify adapt or hack the Service or servers or network or otherwise attempt to gain unauthorized access to the Service or its systems or network. 
                  li Collect or store personal data about other users in connection with any of the activities set out above. 
              p If someone is not obeying these Terms, you can report any abuse by contacting your Community Manager or <a href="mailto:support@smartup.io">support@smartup.io</a> To help best assist you, please explain the reason for the complaint and provide any additional information that will assist. We will always try our best to help resolve any issue that you may encounter with our service. If your complaint or dispute remains unresolved, however, you may be eligible to use the European Commission’s Online dispute resolution platform <a href="#0"><b>here</b></a>. 
                ul
                  li You may not disclose your login details or password to any third parties or share it with any third parties. If you lose your password or give it out, please immediately change your password in settings. We are not responsible for any failure to keep your login details confidential.  We recommend you use anti-virus software, firewalls, and other precautions to protect yourself from security threats. <strong>SmartUp will have no liability for any unauthorised access or use of your data or Your Content, or any deletion, corruption, loss of your data or Your Content</strong>. You further acknowledge and agree that Your Content or data may be transmitted in an unencrypted method if you elect to use gateways without encryption to access the Services. 
                  li You authorise us the right to use your name (if you are a Team Affiliated Network), and your first name only (if you are an Unaffiliated User) a reference in marketing or promotional purposes in relation to SmartUp. If you don’t want to be referenced, please contact us: <a href="mailto:support@smartup.io">support@smartup.io</a>
                  li <b>Links:</b> A Community User in a SmartUp Community may post Content containing links to other sites, resources and purchase opportunities provided by third parties. If you access these links you may be directed to third party sites, which will have their own terms and conditions of use. Links being displayed does not mean SmartUp endorses any of the third party Content information or resources provided. Please check third party site terms of use carefully as SmartUp has no control and no responsibility over them.
                  li <b>Support Services:</b>  We will provide you technical support for the Services, currently only available via email: <a href="mailto:support@smartup.io">support@smartup.io</a>. We have a bespoke support Service for users who take out our Enterprise Licence Plan (please contact us for more details).  Do contact us to help answer your questions on how the communities work, identifying and verifying the causes of suspected errors in the Software and helping you find workarounds.
                  li <b>Advertising:</b> In consideration for SmartUp granting you access to and use of the Services, you agree that SmartUp may enable advertising on the Services including in connection with the display of Your Content or other information on solely and exclusively open Communities.  
              h3
                ul
                  li CONTENT OWNERSHIP AND DISTRIBUTION OPTIONS
              p 
                | <b>Content distribution</b>
                ul
                  li SmartUp allows you to share Content with other users. <b>All Communities are open unless you are an Affiliated User and choose to make the communities open – if you do not want open communities please enter into a partnership license agreement with us. What does this mean?</b>
                  li An open Community means your Content can be visible to everyone on the SmartUp Services
                  li A private Community is accessible to a select number of SmartUp users – and Your Content is restricted to that Community.
                  li Community access can be limited to a Network and again within that Network (for example, a bank can set up a community, and each department within that bank can set up a further private community, and so on).
                  li Check you have the right Licence Plan in place and you understand the rules with your Community Manager/Owner
                  li In all cases, any Content you publish to your Community will be visible to all the other users of that Community (as well as the Owner). You agree that in such cases, the Community Manager/Owner may use, distribute, adapt, and send Your Content as they deem fit in relation to the Services. 
              p
                | <b>Content Ownership</b>
                ul
                  li <b>SmartUp’s licence to you:</b> We grant you, subject to compliance with these Terms and for as long as you use your account and/or have a valid Licence Plan in place, a non-exclusive, personal, non-transferable, limited, revocable licence to use: (i) the Services; and (ii) any publically accessible User Content.
                  li To the extent we deliver anything to you during the course of performing Services (“<b>Deliverables</b>”), we grant you a non-exclusive, non-transferable, worldwide, royalty-free, limited-term license to use those Deliverables during the term of this Agreement, solely in conjunction with your use of SmartUp.
                  li You acknowledge and agree that we own all intellectual property rights in the Services. All title, rights, and interest in and to the Services and including all intellectual property rights remain exclusively with SmartUp.
                  li So we can provide the Services to you, we need to be able to store, transit and copy Your Content and associated data to display it to you and any SmartUp users in your Community (including backups) and you grant us the right and permission to do so and provide the Services to you. Data here means any data, including Your Content or comments or activity which you post, upload, transmit, transfer, your profile information, profile activity, log details, or any other activity or interaction with the Services. These rights described in this section 4.6 include us using third party providers such as cloud services to support administration of the Service. SmartUp will use commercially reasonable efforts to ensure your data is stored and processed to a high standard of security – please see our Privacy Policy.
              p
                | <b>Unaffiliated User</b>
                ul
                  li <b>Your Licence to SmartUp</b>: You own Your Content you post to the Services. So we can make SmartUp a great learning place for all users, in consideration for use of the Services, you grant us a non-exclusive license, royalty free, perpetual and worldwide licence to use your Content on SmartUp, including anything reasonably related to using it (like editing, copying, modifying, adapting, translating, reformatting, creating derivative works from, distributing, advertising and otherwise making available to the general public such Content in whole or in part in any form or medium currently knowN or developed in the future). 
                  li We may assign and or sub licence the above licence to our affiliate or successors without any further approval by you. 
                  li If you wish to delete Your Content or Personal Account, providing it does not use Our Content and has not been posted to the SmartUp public Community, you may do so at any time here by contacting us at: <a href="mailto:support@smartup.io">support@smartup.io</a>
              p
                | <b>Team Affiliated User</b>
                ul
                  li We act in accordance with your Network’s instructions to store and process Your Content on the Services. You Content ownership rights are (i) governed by your Network’s policies and procedures and (ii) owned by your Network, including any communication with other users of the Services and anything you post or share on the Services. 
                  li <b>Your Limited Licence to SmartUp:</b>
                  li If you are the Owner/Community Manager of a Team Affiliated User, you agree and to procure the granting to SmartUp of a non-exclusive, limited-term, royalty free, worldwide licence in order for SmartUp to provide the Services to the Network only.
                  li <b>Only</b> if Your Team Affiliated Network elects to publish any of Your or User Content and make it available for viewing by all SmartUp users (whether these are Networks or Unaffiliated Users) your Network (and procures that you) automatically grant us a worldwide, irrevocable, royalty free, transferable, worldwide perpetual licence to use Your or User Content in any way, including without limitation editing, copying, modifying, adapting, translating, reformatting, creating derivative works from, distributing, advertising and otherwise making available to the general public such Content in whole or in part in any form or medium currently know or developed in the future.  
                  li In the event You use, merge or combine any of Our Content in combination with Your Content, in order for you to do so, we automatically grant you a revocable, non-exclusive, non-transferable, worldwide, licence in relation solely to Our Content in conjunction with use of SmartUp.
                  li We may assign and or sub licence the above licence to our affiliate or successors without any further approval by you. 
                  li If you wish to delete Your Content, please contact your Community Manager or Owner, as such deletion is in their sole discretion (subject to any applicable laws).
              h3
                ul
                  li PAID FOR SERVICES

              ul
                li SmartUp’s Licence Plans offer various benefits and user rights for managing Communities.  To the extent you use the Services under a Licence Plan for a fee, You agree to: (i) pay SmartUp as per these Terms; (ii) authorise SmartUp or its third party payment processors to bill your payment method in accordance with the relevant Licence Plan; (iii) provide accurate information on your credit card or other payment instrument and update SmartUp with your account information with any changes to your payment information. Please see each Licence Plan’s details, or contact us: <a href="mailto:support@smartup.io">support@smartup.io</a>. Prices may vary due to a number of factors.
                li To protect against fraud, unauthorised transactions, claims or other liabilities, we do not collect credit card information, but allow our payment vendors to collect information for the purposes of collecting payments from users purchasing licence services. Please see our privacy policy.
                li Once you download SmartUp, you consent to waive the 14 day cooling off period under the Consumer Rights Act 201.
              p
                | <b>Unaffiliated User</b>
                ul
                  li <b>Your Licence to SmartUp:</b> You own Your Content you post to the Services. So we can make SmartUp a great learning place for all users, in consideration for use of the Services, you grant us a non-exclusive license, royalty free, perpetual and worldwide licence to use your Content on SmartUp, including anything reasonably related to using it (like editing, copying, modifying, adapting, translating, reformatting, creating derivative works from, distributing, advertising and otherwise making available to the general public such Content in whole or in part in any form or medium currently knowN or developed in the future). 
                  li We may assign and or sub licence the above licence to our affiliate or successors without any further approval by you. 
                  li If you wish to delete Your Content or Personal Account, providing it does not use Our Content and has not been posted to the SmartUp public Community, you may do so at any time here by contacting us at: <a href="mailto:support@smartup.io">support@smartup.io</a>
                  
              p
                | <b>Team Affiliated Network</b>
                ul
                  li Once you have paid for a Licence Plan the Services are non-refundable and SmartUp reserves the right to change our Licence Plans and prices at any time in the future. 
                  li If you want to alter the Licence Plan you are under, and you have already paid up for the year or month ahead, you may not change. If you wish to change or cancel your payment method you should contact us: <a href="mailto:support@smartup.io">mailto:support@smartup.io</a> . Your subscription will automatically renew until you decide to cancel. Please see the details on payment page for more information (coming shortly….)
                  li If you wish to dispute any charges, please contact us within 14 days after the date of making a payment. We reserve all rights.
              p
                | <b>Unaffiliated Users</b>
                ul
                  li To complete a payment you will be taken to a payment window (coming soon…) to authorise SmartUp.io Limited to charge your chosen account with the agreed amount at the agreed timeframes. You can cancel or change you payment method at any time by contacting us here: support@smartup.io 
                  li By making a payment you acknowledge that your purchase is non-refundable. By completing the payment you are expressly consenting to immediate performance of the agreement between SmartUp and you acknowledge that your cancellation rights will be lost once you have received the Services from SmartUp.
              p
                | <b>Customisable Content packs</b>
                ul
                  li Our additional services can help you get the most out of SmartUp. If you are interested in SmartUp helping to generate customisable content packs to kick-start your SmartUp programme, let us know, and we’ll work with you to prepare a statement of work that describes the Services, as well as the price: <a href="mailto:support@smartup.io">support@smartup.io</a>
              h3
                ul
                  li TERM AND TERMINATION
              ul
                li <b>Term:</b> These Terms will continue in full effect unless and until you stop using the or these Terms are terminated. Please check the details of your Licence Plan. Monthly licences will renew automatically for additional months, and Licence Plans paid annually will automatically renew for additional years. Please contact us support@smartup.io for more details.
                li <b>Termination:</b> SmartUp or You may terminate this Agreement at any time subject to the terms of your Licence Plan.  Where we elect to terminate your account as a result of breach of these Terms, we reserve the right to revoke access rights to any Community Users of any Communities you have established without incurring any liability and without any obligation to provide a refund. Prolonged inactivity may also mean we delete an account.
                li If you are <b>Team Affiliated User</b>, and wish to stop using the Services, please contact you Community Manager/Owner.  You acknowledge and agree that your Team Affiliated Network may remove, adjust, alter or terminate your access to the Services or Your Content in its sole discretion. In such a case, your right to access and use the Services and Your Content is immediately ended, and any licences granted to you or by you are terminated.  If you wish to continue using SmartUp, you can do so by creating your own <b>Personal Account</b>. On termination, if you wish to keep Your Content, you should contact your Community Manager or Owner and request permission to download Your Content, at your Team Affiliated Network’s discretion. 
                li If you are a <b>Team Affiliated Community Manager</b> and wish to stop using the Services, you should contact your Owner. 
                li If you are a <b>Team Affiliated Owner and wish to stop using the Services</b>, please contact us and we will revert promptly: <a href="mailto:support@smartup.io">support@smartup.io</a>
                li If you are an <b>Unaffiliated User</b>, you can terminate your registration at any time by contacting us  <a href="mailto:support@smartup.io">support@smartup.io</a>. Content you have submitted/uploaded to SmartUp may still appear on SmartUp following termination of your registration (such as comments or articles). Once your accounts is terminated, we have the right to delete any related Content you have submitted /uploaded to SmartUp. 
                li On termination you lose the right to access or use the Services (and we are under no obligation to back-up your data or Your Content). The following shall survive termination:
                li Rights to SmartUp and SmartUp users to further re-share Content and information you shared through the Service on public Communities in accordance with these Terms – none of Your Content posted in open communities will be deleted (per the licence granted to SmartUp);
                li Our rights to use and disclose your feedback;
                li Sections 3, 4, 6, 7 and 8 of these Terms; and 
                li Any amounts owed by either party prior to termination remain owed after termination.
              h3
                ul
                  li LIMITATIONS OF LIABILITY, DISCLAIMERS AND INDEMNITIES – PLEASE READ CAREFULLY
              p <b>The parties have relied on these limitations in deciding whether to enter into these Terms and the parties expressly agree to the following risk allocation between the parties.</b>
              ul
                li <b>DISCLAIMERS:</b> We will use all commercially reasonable efforts to ensure the best SmartUp experience. However, please read carefully each of the below disclaimers.
                li YOU ACKNOWLEDGE THAT SMARTUP DOES NOT WARRANT THAT THE SERVICE WILL BE UN-INTERRUPTED, TIMELY, ERROR OR VIRUS FREE, OR SECURE.  SMARTUP IS NOT RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SOFTWARE OR HARDWARE, OR OTHER EQUIPMENT OR TECHNOLOGY INCLUDING, BUT WITHOUT LIMITATION DAMAGE FROM ANY SECURITY BREACH OR FROM ANY VIRUS, BUGS, TAMPERING, FRAUD, ERROR, OMISSION, INTERRUPTION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER LINE OR NETWORK FAILURE OR ANY OTHER TECHNICAL OR OTHER MALFUNCTION. SERVICES ARE PROVIDED ON AN AS IS AND AS AVAILABLE BASIS.
                li TO THE FULLEST EXTENT PERMITTED BY LAW, SMARTUP DOES NOT GIVE OR MAKE ANY WARRANTY OR REPRESENTATION, CONDITIONS AND ANY OTHER TERMS OF ANY KIND WHICH MIGHT OTHERWISE BE IMPLIED BY STATUTE, COMMON LAW OR LAW OF EQUITY AND FOR ANY LIABILITY INCURRED BY YOU ARISING FROM USE OF SMARTUP’S SERVICES FROM THESE TERMS, INCLUDING WITHOUT LIMITATION FOR ANY DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, CONSEQUENTIAL OR PUNITIVE DAMAGES, (HOWSOEVER ARISING INCLUDING NEGLIGENCE) LOSS OF USE, LOSS OF DATA, LOSS CAUSED BY A COMPUTER OR ELECTRONIC VIRUS, LOSS OF INCOME OR PROFIT, LOSS OF OR DAMAGE TO PROPERTY, WASTED MANAGEMENT OR OFFICE TIME, BREACH OF CONTRACT, OR CLAIMS OF THIRD PARTIES OR OTHER LOSSES OF ANY KIND, EVEN IF SMARTUP HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE OR LOSSES ARISING OUT OF OR IN CONNECTION WITH THE USE OF SMARTUP.
                li IF YOU BECOME DISSATISFIED IN ANY WAY WITH SMARTUP SERVICES OR SOFTWARE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO STOP YOUR USE OF SMARTUP APP AND SITE. YOU HEREBY WAIVE ANY AND ALL CLAIMS ARISING OUT OF YOUR USE OF SMARTUP.
                li IN THE EVENT SOME JURISDICTIONS DO NOT PERMIT THE DISCLAIMER OF IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN TYPES OF DAMAGES, THESE PROVISIONS MAY NOT APPLY TO YOU. IF ANY PORTION OF THIS LIMITATION IS FOUND TO BE INVALID OR UNENFORCEABLE FOR ANY REASON, THEN OUR AGGREGATE LIABILITY TO YOU (WHETHER YOU ARE AN UNAFFILIATED USER OR A TEAM AFFILIATED NETWORK) SHALL NOT EXCEED ONE HUNDRED DOLLARS (US$100). THIS FINANCIAL APPLIES TO THESE TERMS ONLY.
                li SMARTUP EXPRESSLY DISCLAIMS ALL RESPONSIBILITY AND LIABILITY FOR THE ACTIONS, YOUR CONTENT, ANOTHER USERS’ CONTENT, INACCURATE CONTENT, INFORMATION OR DATA OF THIRD PARTIES, AND YOU HEREBY RELEASE US, OUR DIRECTORS, OFFICERS, EMPLOYEES AND AGENT FROM ANY CLAIMS OR DAMAGES, KNOWN OR UNKNOWN ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM YOU HAVE AGAINST ANY THIRD PARTIES.
                li WE RESERVE THE RIGHT TO SUSPEND, WITHDRAW, AMEND, MODIFY, OR VARY THE SERVICE PROVIDED BY SMARTUP WITHOUT NOTICE AND WITHOUT INCURRING ANY LIABILITY TO YOU. 
                li NOTHING IN THESE TERMS LIMIT OR EXCLUDES LIABILITY FOR DEATH OR PERSONAL INJURY, OR ANY LIABILITY WHICH CANNOT BE LIMITED OR EXCLUDED BY LAW. 
                li <b>OUR INDEMNIFICATION TO YOU:</b> We'll defend or settle, at our option and expense, any third-party claim brought against you to the extent that it's based on an allegation that your use or possession of the Software as permitted under these Terms infringes a copyright or misappropriates a trade secret of any third party (each, a "<b>IP Claim</b>"), and, subject to no exclusions applying (as detailed under section 7.3 below), we'll pay all damages and costs (including reasonable legal fees) finally awarded by a court of final appeal attributable to such an IP Claim, provided that you notify us in writing of any such IP Claim as soon as reasonably practicable and allow us to control and reasonably cooperate with us in the defence of any such Claim and related settlement negotiations.
                li Indemnity Exclusions: You understand we'll have no obligation to indemnify you for any IP Claim based on:
                  ul.unstyled-list
                    li (i) the modification of the Software, unless we were the ones who made the modifications; 
                    li (ii) your use of the Software other than as authorised by these Terms;
                    li (iii) your failure to use updated or modified Software that we make available to you that would have helped, avoid or mitigate the IP Claim; 
                    li (iv) your failure to stop using the Software after receiving written notice to do so from us in order to avoid further infringement or misappropriation; or
                    li (v) the combination, operation or use of the Software with equipment, devices, Software, systems, or data that we didn't supply.
                li <b>Right to Ameliorate Damages:</b> If your use of the Services, or in our reasonable opinion is likely to be, subject to an IP Claim we may, at our sole option and at no charge to you (and in addition to our indemnity obligation to you in Section 7.2 above): (i) procure for you the right to continue using the Software; (ii) replace or modify the Software so that it is non-infringing and substantially equivalent in function to the original Software; or, (iii) if options (i) and (ii) above are not commercially practicable, in our reasonable estimation, we can terminate our agreement with you and all licenses granted hereunder (in which event, you will immediately stop using the Software) and refund any applicable fees that you paid us for the then-current license term.
                li <b>YOUR INDEMNIFICATION TO US:</b> If we are sued as a result of your use of SmartUp then we have the right to defend or settle the relevant claim as we see fit. If we ask, you will co-operate fully and reasonably as required by us in the defence of any relevant claim. You agree to hold harmless and indemnify us and our officers, directors, employees, agents, representatives and licensors from and against any third party claims, damages (actual and/or consequential), actions, proceedings, demands, losses, liabilities, costs and expenses (including reasonable solicitor’s fees) suffered or reasonably incurred by us arising as a result of, or in connection with:
                li your access to and use of SmartUp;
                li the uploading or submission of Your Content to SmartUp by you; 
                li any breach of these Terms by you; or 
                li your conduct, other than in accordance with the Terms or any applicable law or regulation (“<b>Claim</b>”). 
              p SmartUp retains the exclusive right to settle, compromise and pay any and all Claims or causes of action which are brought against us without your prior consent.
              h3
                ul
                  li FINAL POINTS!
              ul
                li <b>Governing law:</b> These Terms and any dispute or claim arising out of or in connection with it or its subject matter (including non-contractual disputes or claims) shall be governed by English law. You agree to resolve any claim exclusively in the courts of England and Wales.  You agree that you will not file or participate in a class action against us.
                li <b>Any Feedback:</b> We welcome any feedback on our Services. You assign to us all rights, titles and interests in and to any feedback or suggestions that you may give us in relation to SmartUp, without any right to compensation. You represent and warrant authority to bind your Network, if applicable, to this provision. 
                li <b>Process for changes to Terms:</b> We reserve the right to modify, amend or change the Terms at any time. If we do this, any such changes will be posted on this page and the “Last Updated” date amended. At times, we may send you an email notifying you of the change.  If you do not accept any change to the Terms, you must stop using SmartUp. If you continue to use SmartUp, your actions shall be deemed acceptance of the revised Terms and you will be legally bound by the updated Terms. If you are an Unaffiliated User you agree to accept any legal notices via your email inputted for registration on sign up. If you are a Team Affiliated User, you agree to accept any legal notices via your work domain email inputted for registration on sign up.
                li <b>Assignment:</b> You may not assign or transfer any obligations or rights without our prior written consent. We have the right to assign this agreement and any rights or obligations without providing notice to you. 
                li <b>Waiver and Enforceability:</b>  If we fail to enforce any term of these Terms, or fail to respond to a breach by you, it will not be considered a waiver of any provision under these Terms.  If any of the Terms are declared to be illegal, invalid or otherwise unenforceable by a court of a competent jurisdiction, then to the extent that term is illegal, invalid or unenforceable, it shall be severed and deleted from the Terms. The remainder of the Terms shall remain in full force and effect.
                li <b>Outside Events:</b> We are not liable for any delay or failure to perform our obligations where the failure is as a result of anything outside of our reasonable control.
                li <b>Entire Agreement:</b> The Terms set out the entire agreement and understanding between us and you in relation to your use of SmartUp, and this super-cedes all previous agreements, representations and arrangements between us (either oral or written). Any changes to these Terms must be in writing signed by both parties. No agency partnership, employment or joint venture is created by these Terms. Nothing in the Terms shall confer or purport to confer on any other third party, any benefit or the right to enforce any term of the Terms and the Contracts (Rights of Third Parties) Act 1999 shall not apply to the Terms.




















                    
                    



              



     

