- var facebook  = 'https://www.facebook.com/smartupHQ'
- var linkedin  = 'https://www.linkedin.com/company/smartup-io'
- var twitter   = 'https://twitter.com/smartupHQ'
- var instagram = 'https://www.instagram.com/smartupHQ'

- var appleStore = 'https://itunes.apple.com/app/id938860815'
- var googlePlay = 'https://play.google.com/store/apps/details?id=io.smartup.challenge'