include vars
include mixins
doctype
html.no-js(lang='en')
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  block metaVar
  if meta
    block metaContent
  else
    meta(name='description', content='Show what you know with SmartUp, The knowledge sharing platform for startups, innovators, teams and enterprises everywhere.')
    title SmartUp - The Peer to Peer Knowledge Sharing Platform for Teams
  
  link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
  link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
  link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
  link(rel='manifest', href='/manifest.json')
  //- Cause validation problem, instead will show first letter of title as favicon
  //- https://github.com/RealFaviconGenerator/realfavicongenerator/issues/239
  //- link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
  meta(name='theme-color', content='#ffffff')
  // build:css /styles/vendor.css
  // bower:css
  link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet', href='/bower_components/cookieconsent/build/cookieconsent.min.css')
  // endbower
  // endbuild
  // build:css /styles/main.css
  link(rel='stylesheet', href='/styles/main.css')
  // endbuild
  // build:js /scripts/vendor/modernizr.js
  script(src='/bower_components/modernizr/modernizr.js')
  // endbuild
    
  body
    include headerInlineScripts.jade
    include browserHappy.html
    include header
    .main-wrap
      block content
    include footer
