footer.footer
  .container-fluid
    .row
      .col-md-8.col-sm-9.col-xs-12.copy-col
        small.copy
          span.copy-txt SmartUp.io, ltd &copy; 2017
          span
            a(href='/privacy/', target='_blank') Privacy
          span
            a(href='/copyright/', target='_blank') Copyright
          span
            a(href='/terms_and_services/', target='_blank') Terms of Service
          span
            a(href='/team/') Team
          span
            a(href='/contact/') Contact
          span
            a(href='/press/') Press
      .col-md-4.col-sm-3.col-xs-12.social-col
        ul.social
          li
            a(href="#{facebook}")
              i.fa.fa-facebook
              | &nbsp;
          li
            a(href="#{twitter}")
              i.fa.fa-twitter
              | &nbsp;
          li
            a(href="#{instagram}")
              i.fa.fa-instagram
              | &nbsp;
          li
            a(href="#{linkedin}")
              i.fa.fa-linkedin
              | &nbsp;

| <script id="_agile_min_js" async type="text/javascript" src="https://smartupio.agilecrm.com/stats/min/agile-min.js"></script><script type="text/javascript" >var Agile_API = Agile_API || {}; Agile_API.on_after_load = function(){_agile.set_account("d6uteq54emjm9ft918k912hpct", "smartupio"); _agile.track_page_view();};</script>

include ga.jade
// build:js /scripts/vendor.js
// bower:js
script(src='/bower_components/jquery/jquery.min.js')
script(src='/bower_components/jquery-touchswipe/jquery.touchSwipe.min.js')
script(src='/bower_components/wow/dist/wow.min.js')
// endbower
// endbuild
// build:js /scripts/plugins.js
// script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js')
// script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js')
// script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js')
// script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js')
// script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js')
script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js')
// script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js')
// script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js')
script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js')
// script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js')
script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js')
// script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js')
script(src='/bower_components/cookieconsent/build/cookieconsent.min.js')
// endbuild

// build:js /scripts/main.js
script(src='/scripts/main.js')
// endbuild