mixin launchElevate
    section.marketing-options.text-left.marketing-options-white
      .container
        .row
          .col-xs-12
              .row.row-flex
                .col-flex
                  a(href="https://launch.smartup.io/discover", target="_blank")
                    img.img-responsive(src='/images/launch_bright.png')
                  .marketing-option-info.marketing-option-info-home
                    .marketing-option-info-home-wrap
                        h4 <a href="https://launch.smartup.io/discover">Launch</a>
                        p
                          | The startup community for entrepreneurs and innovators everywhere. 
                          | Test and improve your startup knowledge with insights and qiuzzes from top founders, 
                          | investors and journalists Founders is the original SmartUp community.
                          
                .col-flex
                  a(href="https://elevate.smartup.io/community", target="_blank")
                    img.img-responsive(src='/images/elevate_bright.png')
                  .marketing-option-info.marketing-option-info-home
                      .marketing-option-info-home-wrap
                        h4 <a href="https://elevate.smartup.io/community">Elevate</a>
                        p
                          | The innovation community for visionaries and mavericks 
                          | in mature businesses. Find the tools and insights that 
                          | will help you innovate regardless of where you work 
                          | and what you do.
                          
                          
mixin carouselItem-1
  .item.active
    .carousel-row-wrap
      .row-flex
        .col-flex.carousel-col-big
          a(href="https://launch.smartup.io/discover", target="_blank")
            img.img-responsive(src='/images/imgpsh_fullsize (6)_l.png')
          .marketing-option-info.marketing-option-info-home
            .marketing-option-info-home-wrap
              h4 <a href="https://launch.smartup.io/discover", target="_blank">Launch</a>
              p.text-justify
                | The startup community for entrepreneurs and innovators everywhere. 
                | Test and improve your startup knowledge with insights and qiuzzes from top founders, 
                | investors and journalists Founders is the original SmartUp community.
        .col-flex.col-flex-4
          .col-flex.margin-bottom-30
            a(href="https://launch.smartup.io/content/668", target='_blank')
              img.img-responsive(src='/images/imgpsh_fullsize (7)_l.png')
            .marketing-option-info.marketing-option-info-home
              .marketing-option-info-home-wrap
                p How wearable tech will track human emotion - from Feel’s George Eleftheriou
          .col-flex.margin-bottom-30
            a(href="https://launch.smartup.io/content/382", target="_blank")
              img.img-responsive(src='/images/imgpsh_fullsize (1)_l.png')
            .marketing-option-info.marketing-option-info-home
              .marketing-option-info-home-wrap
                p Fueled: How to Develop Awesome Products - from Fueled’s Rameet Chawla
          .col-flex.no-bottom-margin
            a(href="https://launch.smartup.io/content/327", target='_blank')
              img.img-responsive(src='/images/imgpsh_fullsize (9)_l.png')
            .marketing-option-info.marketing-option-info-home
              .marketing-option-info-home-wrap
                p What do i look for in a startup as an angel investor - from Trulia’s Pete Flint
          .col-flex.no-bottom-margin
            a(href="https://launch.smartup.io/content/668", target='_blank')
              img.img-responsive(src='/images/imgpsh_fullsize (10)_l.png')
            .marketing-option-info.marketing-option-info-home
              .marketing-option-info-home-wrap
                p Great entrepreneur traits - from Ubers Travis Kalanick.

mixin carouselItem-2
  .item
    .carousel-row-wrap
      .row-flex
        .col-flex.carousel-col-big
          a(href="https://elevate.smartup.io/community", target="_blank")
            img.img-responsive(src='/images/elevate_bright.png')
          .marketing-option-info.marketing-option-info-home
            .marketing-option-info-home-wrap
              h4 <a href="https://elevate.smartup.io/community">Elevate</a>
              p.text-justify
                | The innovation community for visionaries and mavericks in mature businesses.
                | Find the tools and insights that will help you innovate regardless of where you work and what you do.
                | <span class="invisible-line">Find the tools and insights that will help</span>
        .col-flex.col-flex-4
          .col-flex.margin-bottom-30
            a(href="https://elevate.smartup.io/content/1635", target="_blank")
              img.img-responsive(src='/images/imgpsh_fullsize.png')
            .marketing-option-info.marketing-option-info-home
              .marketing-option-info-home-wrap
                p How Startup Ways Can Help Big Companies Innovate
          .col-flex.margin-bottom-30
            a(href="https://elevate.smartup.io/content/2035", target="_blank")
              img.img-responsive(src='/images/imgpsh_fullsize_e (1).png')
            .marketing-option-info.marketing-option-info-home
              .marketing-option-info-home-wrap
                p Unpacking And Dissecting Minimum Viable Product
          .col-flex.no-bottom-margin
            a(href="https://elevate.smartup.io/content/2202", target="_blank")
              img.img-responsive(src='/images/imgpsh_fullsize_e (2).png')
            .marketing-option-info.marketing-option-info-home
              .marketing-option-info-home-wrap
                p QUIZ: How Well Do You Understand The Millennial Generation?
          .col-flex.no-bottom-margin
              a(href="https://elevate.smartup.io/content/2236", target="_blank")
                img.img-responsive(src='/images/imgpsh_fullsize_e (3).png')
              .marketing-option-info.marketing-option-info-home
                .marketing-option-info-home-wrap
                  p Understanding Artificial Intelligence: The Basics