// social
- var facebook  = 'https://www.facebook.com/smartupHQ'
- var linkedin  = 'https://www.linkedin.com/company/smartup-io'
- var twitter   = 'https://twitter.com/smartupHQ'
- var instagram = 'https://www.instagram.com/smartupHQ'